<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.haccp.project.admin.userMng">

    <select id="getUserMngList" parameterType="map" resultType="camelMap">
        SELECT 	USER_ID,
        USER_NAME,
        AUTH_CODE,
        CASE AUTH_CODE
        WHEN '01' THEN '사용자'
        WHEN '02' THEN '시스템관리자'
        ELSE ''
        END as auth_Nm,
        USE_YN,
        JOIN_DATE,
        RETIRE_DATE,
        PHONE_NUMBER,
        EMAIL,
        RMK
        FROM SHC_USERS
        WHERE 1=1
        AND USE_YN = 'Y'
        <if test="userName != null and userName != '' and userName != 'undefined'">
            AND USER_NAME LIKE CONCAT('%', #{userName}, '%')
        </if>
        LIMIT #{perPage} OFFSET #{offset}

    </select>

    <select id="getUserMngCnt" parameterType="map" resultType="camelMap">
    	SELECT COUNT(*) AS CNT
        FROM SHC_USERS
        WHERE 1=1
        AND USE_YN = 'Y'
    </select>

    <insert id="insertUserMng" parameterType="map">
		INSERT INTO SHC_USERS
			(	USER_ID,
				USER_NAME,
				PASSWORD,
				AUTH_CODE,
				USE_YN,
				JOIN_DATE,
				RETIRE_DATE,
				PHONE_NUMBER,
				EMAIL,
				RMK,
				CREATE_ID,
				CREATE_DT
				)VALUES(
				#{userId},
				#{userName},
				#{encordPw},
				#{authCode},
				'Y',
				#{joinDate},
				#{retireDate},
				#{phoneNumber},
				#{email},
				#{rmk},
				#{createId},
				STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
			)
	</insert>

    <select id="selectUserMngDetail" parameterType="map" resultType="camelMap">
	    	SELECT  USER_ID,
	    	    PASSWORD,
				USER_NAME,
				AUTH_CODE,
				USE_YN,
				JOIN_DATE,
				RETIRE_DATE,
				PHONE_NUMBER,
				EMAIL,
				RMK
				FROM SHC_USERS
			WHERE 1=1
			AND USE_YN = 'Y'
			AND USER_ID = #{userId}
    </select>

    <select id="checkUserId" parameterType="map" resultType="camelMap">
    	SELECT COUNT(*) AS CNT FROM SHC_USERS
			WHERE 1=1
			AND USER_ID = #{userId}
			AND USE_YN='Y'
    </select>

    <update id="updateUserMng" parameterType="map">
        UPDATE SHC_USERS
        SET
        USER_NAME = #{userName},
        AUTH_CODE = #{authCode},
        <!-- 				PASSWORD = #{encordPw}, -->
        USE_YN = 'Y',
        JOIN_DATE = #{joinDate},
        RETIRE_DATE = #{retireDate},
        PHONE_NUMBER = #{phoneNumber},
        EMAIL = #{email},
        RMK = #{rmk},
        MODIFY_ID = #{modifyId},
        MODIFY_DT = STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
        WHERE 1=1
        AND USER_ID = #{userId}
    </update>

    <update id="updateNewPw" parameterType="map">
 	    UPDATE SHC_USERS
			SET
				PASSWORD = #{encordNewPw}
			WHERE USER_ID = #{userId2}
	</update>

    <update id="userMngDelete" parameterType="map">
    	UPDATE SHC_USERS
    	SET USE_YN = 'N'
    	   ,MODIFY_ID = #{modifyId}
    	   ,MODIFY_DT = STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
    	WHERE USER_ID = #{userId}
    </update>
</mapper>
