<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.haccp.project.admin.comMng">
    <select id="gridPagingCnt" parameterType="map" resultType="camelMap">
    	/* [사업장 관리 - 그리드 페이징 카운트] comMng.gridPagingCnt */
        SELECT COUNT(*) AS CNT
        FROM SHC_REC_MAIN
        WHERE 1=1
    </select>

    <select id="gridPaging" parameterType="map" resultType="camelMap">
    	/* [사업장 관리 - 그리드 페이징] comMng.gridPaging */
		SELECT
				CASE SUBSTR(L_CODE,1,1)
				WHEN 'P' THEN '선행요소관리'
				WHEN 'C' THEN 'HACCP관리'
				ELSE ''
				END as GUBUN_NM,
				L_CODE,
				L_CODE_NM,
				BASIC_YN,
				ONLY_FILE_YN,
				USE_YN,
				APPR_YN,
				CYCLE_YN,
				DETAIL_CYCLE_YN,
				IMPRV_YN,
				DETAIL_IMPRV_YN,
				REF_COMM_CODE,
				MAKE_GUIDE,
				RMK,
				CREATE_ID,
				CREATE_DT
			FROM SHC_REC_MAIN
			WHERE 1=1
			AND L_CODE not in ('S0010','S0020')
		LIMIT #{perPage} OFFSET #{offset}
    </select>


    <select id="recodeDataList" parameterType="map" resultType="camelMap">
        /* [사업장 관리 - 데이터 리스트 가져오기] comMng.recodeDataList */
        SELECT  L_CODE,
        SEQ,
        M_CODE_KIND,
        M_CODE,
        M_CODE_NM,
        M_CODE_DESC,
        S_CODE_KIND,
        S_CODE,
        S_CODE_NM,
        D_CODE_KIND,
        D_CODE,
        D_CODE_NM,
        ORD_SEQ,
        MAIN_CONF,
        BASIC_YN,
        USE_YN,
        STD_VAL,
        STD_VAL1,
        STD_VAL2,
        STD_VAL3,
        STD_VAL4,
        RMK
        FROM SHC_REC_PRE
        WHERE 1=1
        AND L_CODE = #{lCode}
        <!-- 			AND BASIC_YN='N' -->
        LIMIT #{perPage} OFFSET #{offset}
    </select>

    <select id="recodeDataCnt" parameterType="map" resultType="camelMap">
        /* [사업장 관리 - 데이터 리스트 카운트] comMng.recodeDataCnt */
        SELECT COUNT(*) AS CNT
        FROM SHC_REC_PRE
        WHERE 1=1
        <!-- 		AND BASIC_YN='N' -->
        AND L_CODE = #{lCode}
    </select>


    <select id="selectCompanyInfo" parameterType="map" resultType="camelMap">
    		/* [사업장 관리 - 데이터 리스트 카운트] comMng.selectCompanyInfo */
	    	SELECT 	LCNS_NO
					, LCNS_DATE
					, PROD_TYPE
					, BIZTYP
					, COMPANY_NM
					, DVP_COMPANY_NM
					, RMK
					, CRTF_ONLINE_YN
				FROM SHC_COMPANY
    </select>

    <select id="selectRecodeEdit" parameterType="map" resultType="camelMap">
     		/* [사업장 관리 - 수정할 아이템 정보 가져오기] comMng.selectRecodeEdit */
	    	SELECT  L_CODE,
				SEQ,
				M_CODE_KIND,
				M_CODE,
				M_CODE_NM,
				M_CODE_DESC,
				S_CODE_KIND,
				S_CODE,
				S_CODE_NM,
				D_CODE_KIND,
				D_CODE,
				D_CODE_NM,
				ORD_SEQ,
				MAIN_CONF,
				BASIC_YN,
				USE_YN,
				STD_VAL,
				STD_VAL1,
				STD_VAL2,
				STD_VAL3,
				STD_VAL4,
				RMK
			FROM SHC_REC_PRE
			WHERE 1=1
			AND M_CODE_KIND = #{commCode}
			AND L_CODE = #{lCode}
			AND M_CODE = #{mCode}
    </select>

    <insert id="insertCompany" parameterType="map">
		/* [사업장 관리 - 사업장 정보 추가] comMng.insertCompany */
		INSERT INTO SHC_COMPANY
			(
				LCNS_NO
				, LCNS_DATE
				, PROD_TYPE
				, BIZTYP
				, COMPANY_NM
				, RMK
				, CREATE_ID
				, CREATE_DT
				, CRTF_ONLINE_YN
			)VALUES(
				#{lcnsNo},
				#{lcnsDate},
				#{prodType},
				#{biztyp},
				#{companyNm},
				#{rmk},
				#{userId},
				STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s'),
				#{crtfOnlineYnValue}
			)
	</insert>

    <select id="selectCodeList" parameterType="map" resultType="camelMap">
    	/* [사업장 관리 - 코드 리스트 가져오기] comMng.insertCompany */
    	SELECT  CODE_KIND,
    			CODE_KIND_NM,
    			CODE,
    			CODE_NM,
    			CODE_DESC,
    			USE_YN,
    			BASIC_YN
    			FROM SHC_COMM_CODE
    			WHERE CODE_KIND= #{codeKind}
    </select>

    <update id="updateCompany" parameterType="map">
    	/* [사업장 관리 - 사업장 수정] comMng.updateCompany */
 	    UPDATE SHC_COMPANY
			SET
				LCNS_DATE = #{lcnsDate},
				PROD_TYPE = #{prodType},
				BIZTYP = #{biztyp},
				COMPANY_NM = #{companyNm},
				RMK = #{rmk},
				MODIFY_ID = #{userId},
				MODIFY_DT = STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s'),
				CRTF_ONLINE_YN = #{crtfOnlineYnValue},
				LCNS_NO = #{lcnsNo}
			WHERE 1=1
				AND LCNS_NO = #{lcnsNoBak}
	</update>


    <select id="companyCnt" parameterType="map" resultType="camelMap">
    	/* [사업장 관리 - 사업장 갯수 파악] comMng.companyCnt */
        SELECT COUNT(*) AS CNT
        FROM SHC_COMPANY
		WHERE 1=1
    </select>



    <select id="selectItmtypM" parameterType="map" resultType="camelMap">
    	/* [사업장 관리 - 중분류 아이템 검색] comMng.selectItmtypM */
    	SELECT B.CODE, B.CODE_NM
			FROM SHC_COMM_CODE A, SHC_COMM_CODE B
			WHERE 1=1
			AND A.CODE_KIND='ITMTYP'
			AND A.CODE= #{code}
			AND SUBSTR(B.CODE_KIND,1,3)='ITM'
			AND A.CODE=SUBSTR(B.CODE_KIND,-3)
    </select>


    <select id="selectItmtypS" parameterType="map" resultType="camelMap">
		/* [사업장 관리 - 소분류 아이템 검색] comMng.selectItmtypS */
    	SELECT C.CODE, C.CODE_NM
			FROM SHC_COMM_CODE A, SHC_COMM_CODE B, SHC_COMM_CODE C
			WHERE 1=1
			AND A.CODE_KIND='ITMTYP'
			AND B.CODE= #{code}
			AND SUBSTR(B.CODE_KIND,1,3)='ITM'
			AND A.CODE=SUBSTR(B.CODE_KIND,-3)
			AND B.CODE=REPLACE(C.CODE_KIND,'ITM','')
    </select>

    <select id="selectCompanyItemList" parameterType="map" resultType="camelMap">
    	/* [사업장 관리 - 사업장 아이템 타입 검색] comMng.selectCompanyItemList */
		SELECT LCNS_NO,
				SEQ,
				ITMTYP_L_CD,
				ITMTYP_M_CD,
				ITMTYP_S_CD,
				(SELECT CODE_NM FROM SHC_COMM_CODE WHERE code = ITMTYP_L_CD) as ITMTYP_L_NM,
				(SELECT CODE_NM FROM SHC_COMM_CODE WHERE code = ITMTYP_M_CD) AS ITMTYP_M_NM,
				(SELECT CODE_NM FROM SHC_COMM_CODE WHERE code = ITMTYP_S_CD) AS ITMTYP_S_NM
		FROM SHC_COMPANY_ITM_TYPE
    </select>

    <insert id="insertCompanyItem" parameterType="map">
    	/* [사업장 관리 - 사업장 아이템 타입 추가] comMng.insertCompanyItem */
		 INSERT INTO SHC_COMPANY_ITM_TYPE
			(
				LCNS_NO
				, SEQ
				, ITMTYP_L_CD
				, ITMTYP_M_CD
				, ITMTYP_S_CD
				, RMK
				, CREATE_ID
				, CREATE_DT
			)VALUES(
				#{lcnsNo2},
				(SELECT MAX(A.SEQ)+1 FROM SHC_COMPANY_ITM_TYPE A WHERE A.LCNS_NO = #{lcnsNo2} ) ,
				#{itmtypLCd},
				#{itmtypMCd},
				#{itmtypSCd},
				#{rmk},
				#{userId},
				STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
			)
	</insert>

    <update id="updateCompanyItem" parameterType="map">
		/* [사업장 관리 - 사업장 아이템 타입 수정] comMng.updateCompanyItem */
		UPDATE SHC_COMPANY_ITM_TYPE SET
				ITMTYP_L_CD = #{itmtypLCd},
				ITMTYP_M_CD = #{itmtypMCd},
				ITMTYP_S_CD = #{itmtypSCd},
				RMK = #{rmk},
				MODIFY_ID = #{userId},
				MODIFY_DT = STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
			WHERE LCNS_NO = #{lcnsNo2}
			AND SEQ = #{seq}
	</update>

    <select id="selectItemInfo" parameterType="map" resultType="camelMap">
			/* [사업장 관리 - 아이템 검색] comMng.selectItemInfo */
	    	SELECT LCNS_NO,
					SEQ,
					ITMTYP_L_CD,
					ITMTYP_M_CD,
					ITMTYP_S_CD
			FROM SHC_COMPANY_ITM_TYPE
				WHERE LCNS_NO = #{lcnsNo}
				AND SEQ = #{seq}
    </select>

    <select id="checkItemInfo" parameterType="map" resultType="camelMap">
    		/* [사업장 관리 - 선택된 아이템 검색] comMng.checkItemInfo */
	    	SELECT LCNS_NO,
					SEQ,
					ITMTYP_L_CD,
					ITMTYP_M_CD,
					ITMTYP_S_CD
			FROM SHC_COMPANY_ITM_TYPE
				WHERE LCNS_NO = #{lcnsNo2}
				AND SEQ = #{seq}
    </select>

    <delete id="deleteItemInfo" parameterType="string">
        /* [사업장 관리 - 아이템 삭제] comMng.deleteItemInfo */
        DELETE FROM SHC_COMPANY_ITM_TYPE
        WHERE 1=1
        <!--     			 LCNS_NO = #{lcnsNo} -->
        AND SEQ = #{seq}
    </delete>

    <delete id="deleteOldCompanyInfo" parameterType="string">
    	/* [사업장 관리 - 변경전 사업장 정보 삭제] comMng.deleteOldCompanyInfo */
    	DELETE FROM SHC_COMPANY
    			WHERE 1=1
				AND LCNS_NO = #{lcnsNo}
    </delete>

    <delete id="deleteOldCompanyItemInfo" parameterType="string">
    	/* [사업장 관리 - 변경전 사업장 아이템 삭제] comMng.deleteOldCompanyItemInfo */
    	DELETE FROM SHC_COMPANY_ITM_TYPE
    			WHERE 1=1
				AND LCNS_NO = #{lcnsNo}
    </delete>

    <update id="mergeCompanyInfo" parameterType="map">
    	/* [사업장 관리 - 인증원에서 받아온 사업장 정보 합병] comMng.mergeCompanyInfo */
    	 INSERT INTO
	      SHC_COMPANY (
	         LCNS_NO
			, LCNS_DATE
			, FARM_UNQ_NO
			, FARM_DSC_NO
			, COMPANY_NM
			, BIZ_NO
			, PHONE_NO
			, FAX_NO
			, CEO_NM
			, ZIPCODE
			, ADDR
			, ADDR_DESC
			, CEO_BDATE
			, MANAGER_NM
			, MANAGER_RANK
			, MANAGER_PHONE_NO
			, MANAGER_CRTF_PNO
			, BIZCTG
			, COMPANY_SCALE
			, CRTF_NO
			, CREATE_ID
			, CREATE_DT
			, MODIFY_ID
			, MODIFY_DT
	      )
		   VALUES (
		      #{LCNS_NO}
			, #{LCNS_DATE}
			, #{FARM_UNQ_NO}
			, #{FARM_DSC_NO}
			, #{COMPANY_NM}
			, #{BIZ_NO}
			, #{PHONE_NO}
			, #{FAX_NO}
			, #{CEO_NM}
			, #{ZIPCODE}
			, #{ADDR}
			, #{ADDR_DESC}
			, #{CEO_BDATE}
			, #{MANAGER_NM}
			, #{MANAGER_RANK}
			, #{MANAGER_PHONE_NO}
			, #{MANAGER_CRTF_PNO}
			, #{BIZCTG}
			, #{COMPANY_SCALE}
			, #{CRTF_NO}
			, #{CREATE_ID}
			, #{CREATE_DT}
			, #{userId}
			, STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
		   )
		   ON
		      DUPLICATE KEY
		   UPDATE
		      LCNS_NO          = #{LCNS_NO}
			, LCNS_DATE        = #{LCNS_DATE}
			, FARM_UNQ_NO      = #{FARM_UNQ_NO}
			, FARM_DSC_NO      = #{FARM_DSC_NO}
			, COMPANY_NM       = #{COMPANY_NM}
			, BIZ_NO           = #{BIZ_NO}
			, PHONE_NO         = #{PHONE_NO}
			, FAX_NO           = #{FAX_NO}
			, CEO_NM           = #{CEO_NM}
			, ZIPCODE          = #{ZIPCODE}
			, ADDR             = #{ADDR}
			, ADDR_DESC        = #{ADDR_DESC}
			, CEO_BDATE        = #{CEO_BDATE}
			, MANAGER_NM       = #{MANAGER_NM}
			, MANAGER_RANK     = #{MANAGER_RANK}
			, MANAGER_PHONE_NO = #{MANAGER_PHONE_NO}
			, MANAGER_CRTF_PNO = #{MANAGER_CRTF_PNO}
			, BIZCTG           = #{BIZCTG}
			, COMPANY_SCALE    = #{COMPANY_SCALE}
			, CRTF_NO          = #{CRTF_NO}
			, CREATE_ID        = #{CREATE_ID}
			, CREATE_DT        = #{CREATE_DT}
			, MODIFY_ID        = #{userId}
			, MODIFY_DT        = STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
			, CRTF_ONLINE_YN   = 'Y'

    </update>

    <select id="selectCompanyInfoAll" parameterType="map" resultType="camelMap">
    		/* [사업장 관리 - 사업장 정보 모두 검색] comMng.selectCompanyInfoAll */
	    	SELECT 	LCNS_NO,
					LCNS_DATE,
					CRTF_ONLINE_YN,
					FARM_UNQ_NO,
					FARM_DSC_NO,
					PROD_TYPE,
					ECO_CRTF_YN,
					BIZ_NO,
					COMPANY_NM,
					BIZCTG,
					BIZTYP,
					COMPANY_SCALE,
					CEO_NM,
					CEO_BDATE,
					MANAGER_NM,
					MANAGER_RANK,
					MANAGER_PHONE_NO,
					BRAND_NM,
					CRTF_NO,
					MANAGER_CRTF_PNO,
					PHONE_NO,
					FAX_NO,
					ZIPCODE,
					ADDR,
					ADDR_SIDO,
					ADDR_SGG,
					ADDR_EMD,
					ADDR_DESC,
					ADDR_ROAD,
					ADDR_ROAD_DESC,
					DVP_COMPANY_NM,
					DVP_COMPANY_PHONE_NO,
					PROD_TYPE,
					RMK
				FROM SHC_COMPANY
    </select>

    <select id="selectCompanyItemListAll" parameterType="map" resultType="camelMap">
    	/* [사업장 관리 - 사업장 아이템 정보 모두 검색] comMng.selectCompanyItemListAll */
		SELECT LCNS_NO,
				SEQ,
				ITMTYP_L_CD,
				ITMTYP_M_CD,
				ITMTYP_S_CD,
				(SELECT CODE_NM FROM SHC_COMM_CODE WHERE code = ITMTYP_L_CD) as ITMTYP_L_NM,
				(SELECT CODE_NM FROM SHC_COMM_CODE WHERE code = ITMTYP_M_CD) AS ITMTYP_M_NM,
				(SELECT CODE_NM FROM SHC_COMM_CODE WHERE code = ITMTYP_S_CD) AS ITMTYP_S_NM
		FROM SHC_COMPANY_ITM_TYPE
    </select>
</mapper>
