<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.haccp.project.haccp_mgmt.C0030">

    <select id="mdTestGrid" parameterType="map" resultType="camelMap">
        /* [CCP 금속 검출 - 감도 상세 데이터 조회] haccp_mgmt.C0030.mdTestGrid */
        SELECT A.REC_NO, A.M_CODE, A.EVENT_SEQ
        , MAX(A.REG_DATE) AS REG_DATE
        , MIN(A.MEAS_TIME) AS MEAS_TIME
        , CASE WHEN 'Y' = MAX(CASE WHEN LMT_ITEM_CODE='11' THEN A.BREAK_YN END) THEN 'X' WHEN 'N' = MAX(CASE WHEN LMT_ITEM_CODE='11' THEN A.BREAK_YN END) THEN 'O' ELSE '-' END AS FE
        , MAX(CASE WHEN LMT_ITEM_CODE='11' THEN A.SEQ END) AS FE_SEQ
        , MAX(CASE WHEN LMT_ITEM_CODE='11' THEN A.IMPRV_YN END) AS FE_IMPRV_YN
        , CASE WHEN 'Y' = MAX(CASE WHEN LMT_ITEM_CODE='12' THEN A.BREAK_YN END) THEN 'X' WHEN 'N' = MAX(CASE WHEN LMT_ITEM_CODE='12' THEN A.BREAK_YN END) THEN 'O'  ELSE '-' END AS SUS
        , MAX(CASE WHEN LMT_ITEM_CODE='12' THEN A.SEQ END) AS SUS_SEQ
        , MAX(CASE WHEN LMT_ITEM_CODE='12' THEN A.IMPRV_YN END) AS SUS_IMPRV_YN
        , CASE WHEN 'Y' = MAX(CASE WHEN LMT_ITEM_CODE='13' THEN A.BREAK_YN END) THEN 'O' WHEN 'N' = MAX(CASE WHEN LMT_ITEM_CODE='13' THEN A.BREAK_YN END) THEN 'X' ELSE '-' END AS PRD
        , MAX(CASE WHEN LMT_ITEM_CODE='13' THEN A.SEQ END) AS PRD_SEQ
        , MAX(CASE WHEN LMT_ITEM_CODE='13' THEN A.IMPRV_YN END) AS PRD_IMPRV_YN
        , CASE WHEN 'Y' = MAX(CASE WHEN LMT_ITEM_CODE='14' THEN A.BREAK_YN END) THEN 'X' WHEN 'N' = MAX(CASE WHEN LMT_ITEM_CODE='14' THEN A.BREAK_YN END) THEN 'O' ELSE '-' END AS PRD_FE
        , MAX(CASE WHEN LMT_ITEM_CODE='14' THEN A.SEQ END) AS PRD_FE_SEQ
        , MAX(CASE WHEN LMT_ITEM_CODE='14' THEN A.IMPRV_YN END) AS PRD_FE_IMPRV_YN
        , CASE WHEN 'Y' = MAX(CASE WHEN LMT_ITEM_CODE='15' THEN A.BREAK_YN END) THEN 'X' WHEN 'N' = MAX(CASE WHEN LMT_ITEM_CODE='15' THEN A.BREAK_YN END) THEN 'O' ELSE '-' END AS PRD_SUS
        , MAX(CASE WHEN LMT_ITEM_CODE='15' THEN A.SEQ END) AS PRD_SUS_SEQ
        , MAX(CASE WHEN LMT_ITEM_CODE='15' THEN A.IMPRV_YN END) AS PRD_SUS_IMPRV_YN
        FROM (
        SELECT SRCD.REC_NO, SRCD.REG_DATE, SRCD.M_CODE, SRCD.LMT_ITEM_CODE , SRCD.SEQ, SRCD.EVENT_SEQ, SRCD.MEAS_TIME, SRCD.MEAS_VAL, SRCD.BREAK_YN, IMPRV.IMPRV_YN
        FROM SHC_REC_CCP_DATA SRCD
        LEFT OUTER JOIN SHC_REC_CCP_IMPRV IMPRV
        ON SRCD.REG_DATE = IMPRV.REG_DATE
        AND SRCD.M_CODE = IMPRV.M_CODE
        AND SRCD.SEQ = IMPRV.SEQ
        WHERE 1=1
        <choose>
            <when test="recNo != ''">
                AND SRCD.REC_NO = #{recNo}
            </when>
            <otherwise>
                AND SRCD.REC_NO IS NULL
                <![CDATA[
		    	AND DATE_FORMAT(SRCD.CREATE_DT, '%Y%m%d%H%i%s') <= #{currentTime}
		    	]]>
            </otherwise>
        </choose>
        AND SRCD.M_CODE = #{mCode}
        AND SRCD.EVENT_YN='Y'
        ) A
        GROUP BY REC_NO, M_CODE, EVENT_SEQ
        ORDER BY 1,2,3,4
    </select>

    <select id="prodGrid" parameterType="map" resultType="camelMap">
        /* [CCP 금속 검출 - 제품 상세 데이터 조회] haccp_mgmt.C0030.prodGrid */
        SELECT REC_NO
        , M_CODE
        , SEQ
        , MEAS_TIME
        , CASE WHEN 'Y' = BREAK_YN THEN 'O' ELSE 'X' END BREAK_YN
        FROM SHC_REC_CCP_DATA
        WHERE 1=1
        <choose>
            <when test="recNo != ''">
                AND REC_NO = #{recNo}
            </when>
            <otherwise>
                AND REC_NO IS NULL
                <![CDATA[
		    	AND DATE_FORMAT(CREATE_DT, '%Y%m%d%H%i%s') <= #{currentTime}
		    	]]>
            </otherwise>
        </choose>
        AND M_CODE = #{mCode}
        AND EVENT_YN = 'N'
    </select>

    <select id="getCcpDteList" parameterType="map" resultType="camelMap">
        /* [CCP 금속 검출 - 설비(금속검출기) 목록 조회] haccp_mgmt.C0030.getCcpDteList */
        SELECT EQUIP.M_CODE
             , EQUIP.M_CODE_NM
             , STD.VERF_TYPE_CODE
        FROM SHC_CCP_EQUIP EQUIP
           , SHC_REC_CCP CCP
           , SHC_CCP_LMT_STD STD
        WHERE EQUIP.M_CODE = CCP.M_CODE
          AND CCP.LMT_STD_CODE = STD.LMT_STD_CODE
          AND EQUIP.L_CODE = #{recLargeCode}
    </select>

    <insert id="insertMdProdImprv" parameterType="map">
        /* [CCP 금속 검출 - 제품 개선조치 입력] haccp_mgmt.C0030.insertMdProdImprv */
        INSERT INTO SHC_REC_CCP_IMPRV (REC_NO, REG_DATE, L_CODE, M_CODE, LMT_ITEM_CODE, SEQ, BREAK_TYPE_CODE, BREAK_TYPE_NM, BREAK_REASON, IMPRV_YN, IMPRV, CREATE_ID, CREATE_DT, MODIFY_ID, MODIFY_DT)
        VALUES(#{newRecNo}, CURDATE(), #{recLargeCode}, #{ccpDteSelectList}, '04', '0', '03', '이탈', '제품이탈', 'Y', #{imprv}, #{userId}, NOW(), #{userId}, NOW())
    </insert>

    <select id="getProdBreakCnt" parameterType="map" resultType="camelMap">
        /* [CCP 금속 검출 - 제품 금속검출 건수 조회] haccp_mgmt.C0030.getProdBreakCnt */
        SELECT COUNT(*) TOT_CNT
        ,COALESCE (SUM(CASE WHEN BREAK_YN = 'Y' THEN 1 ELSE 0 END),0) BREAK_CNT
        FROM SHC_REC_CCP_DATA
        WHERE 1=1
        <choose>
            <when test="recNo != ''">
                AND REC_NO = #{recNo}
            </when>
            <otherwise>
                AND REC_NO IS NULL
                <![CDATA[
		    	AND DATE_FORMAT(CREATE_DT, '%Y%m%d%H%i%s') <= #{currentTime}
		    	]]>
            </otherwise>
        </choose>
        AND M_CODE = #{mCode}
        AND EVENT_YN = 'N'
    </select>

    <select id="recImprvChk" parameterType="map" resultType="camelMap">
        /* [CCP 금속 검출 - 설비별 개선조치 미 처리 건수 조회] haccp_mgmt.C0030.recImprvChk */
        SELECT CASE WHEN A.IMPRV_N_CNT > 0 THEN 'N' ELSE 'Y' END IMPRV_YN
        FROM (
        SELECT COUNT(*) IMPRV_N_CNT
        FROM SHC_REC_CCP_DESC A
        ,SHC_REC_CCP_IMPRV B
        WHERE 1=1
        AND A.REG_DATE = B.REG_DATE
        AND A.M_CODE = B.M_CODE
        AND A.SEQ = B.SEQ
        <choose>
            <when test="recNo != ''">
                AND B.REC_NO = #{recNo}
            </when>
            <otherwise>
                <![CDATA[
			   		    AND B.REC_NO IS NULL
			   			AND DATE_FORMAT(A.CREATE_DT, '%Y%m%d%H%i%s') <= #{currentTime}
			   			AND B.L_CODE = #{recLargeCode}
			   		]]>
            </otherwise>
        </choose>
        AND B.IMPRV_YN = 'N'
        AND B.BREAK_TYPE_CODE = '01'
        ) A
    </select>

    <select id="equipImprvMessage" parameterType="map" resultType="camelMap">
        /* [CCP 금속 검출 - 설비별 코드 및 미처리 건수 조회] haccp_mgmt.C0030.equipImprvMessage */
        SELECT (SELECT M_CODE_NM FROM SHC_CCP_EQUIP EQUIP WHERE EQUIP.M_CODE = A.M_CODE) M_CODE_NM
        ,IMPRV_N_CNT
        FROM (
        SELECT B.M_CODE
        ,COUNT(*) IMPRV_N_CNT
        FROM SHC_REC_CCP_DESC A
        ,SHC_REC_CCP_IMPRV B
        WHERE 1=1
        AND A.REG_DATE = B.REG_DATE
        AND A.M_CODE = B.M_CODE
        AND A.SEQ = B.SEQ
        <choose>
            <when test="recNo != ''">
                AND B.REC_NO = #{recNo}
            </when>
            <otherwise>
                <![CDATA[
			   		    AND B.REC_NO IS NULL
			   			AND DATE_FORMAT(A.CREATE_DT, '%Y%m%d%H%i%s') <= #{currentTime}
			   			AND B.L_CODE = #{recLargeCode}
			   		]]>
            </otherwise>
        </choose>
        AND B.IMPRV_YN = 'N'
        AND B.BREAK_TYPE_CODE = '01'
        GROUP BY B.M_CODE
        ) A
    </select>

    <select id="getMdTestDataImprv" parameterType="map" resultType="camelMap">
        /* [CCP 금속 검출 - 금속검출 제품 개선조치 내용 조회] haccp_mgmt.C0030.getMdTestDataImprv */
        SELECT IMPRV MD_TEST_DATA_IMPRV
        FROM SHC_REC_CCP_IMPRV
        WHERE REC_NO = #{recNo}
          AND SEQ = 0
    </select>

    <select id="selectFinalCheckList" parameterType="map" resultType="camelMap">
        /* [CCP 금속 검출 -  - 인증원으로 보낼 체크 리스트 가져오기(감도)] c0030.selectFinalCheckList */
        SELECT TOTAL.*
             , CONCAT('LM04',(SELECT REPLACE(CD.CODE,'0','') CODE FROM SHC_COMM_CODE CD WHERE CD.CODE_KIND = 'LMTMTL' AND CD.CODE = TOTAL.EVENT_SEQ_ROWNUM)) LMT_ITEM_CODE
             , (SELECT CD.CODE_DESC FROM SHC_COMM_CODE CD WHERE CD.CODE_KIND = 'LMTMTL' AND CD.CODE = TOTAL.EVENT_SEQ_ROWNUM) LMT_ITEM_NM
        FROM (
                 SELECT #{lcnsNo} AS LCNS_NO
                      , #{companyNm} AS COMPANY_NM
                      , DATE_FORMAT(DT.CREATE_DT, '%Y-%m-%d') AS CREATE_DATE -- 생성일자
                      , DATE_FORMAT(DT.CREATE_DT, '%H:%i:%s') AS CREATE_TIME -- 생성시각
                      , DT.L_CODE AS REC_CODE -- 문서코드
                      , (SELECT L_CODE_NM FROM SHC_REC_MAIN MI WHERE MI.L_CODE = DT.L_CODE) AS REC_NM -- CCP 종류명 * 확인 필요
                      , ROW_NUMBER() OVER(PARTITION BY DT.REC_NO ORDER BY DT.CREATE_DT) AS SEQ -- 일지별 순번
			     , DT.M_CODE AS EQUIP_CODE -- 설비코드
                      , VERF.M_CODE_NM AS EQUIP_NM -- 설비명
                      , CONCAT('VF',VERF.CODE) AS VERF_TYPE_CODE -- 검증유형코드
                      , VERF.CODE_DESC AS VERF_TYPE_NM -- 검증유형명
                      , DT.EVENT_YN AS EVENT_YN
                      , DT.MEAS_TIME AS MEAS_TIME -- 측정시각
                      , DT.MEAS_VAL AS MEAS_VAL -- 측정값
                      , DT.BREAK_YN AS BREAK_YN
                      , IM.IMPRV AS IMPRV_COMM
                      , ROW_NUMBER() OVER(PARTITION BY DT.EVENT_SEQ ORDER BY DT.EVENT_SEQ) AS EVENT_SEQ_ROWNUM
	             , (SELECT date_format(CL.CREATE_DT, '%Y%m%d%H%i%s') FROM SHC_REC_CCP_LIST CL WHERE CL.REC_NO = DT.REC_NO) AS REC_CREATE_DT
                 FROM SHC_REC_CCP_DATA DT
                          LEFT JOIN SHC_REC_CCP_IMPRV IM ON DT.REC_NO = IM.REC_NO
                     AND DT.REG_DATE = IM.REG_DATE
                     AND DT.M_CODE = IM.M_CODE
                     AND DT.SEQ = IM.SEQ
                          LEFT JOIN (
                     SELECT EQUIP.M_CODE, EQUIP.M_CODE_NM, CD.CODE, CD.CODE_DESC
                     FROM SHC_CCP_EQUIP EQUIP
                              INNER JOIN SHC_REC_CCP CCP ON EQUIP.M_CODE = CCP.M_CODE
                              INNER JOIN SHC_CCP_LMT_STD STD ON CCP.LMT_STD_CODE = STD.LMT_STD_CODE
                              INNER JOIN SHC_COMM_CODE CD ON STD.VERF_TYPE_CODE = CD.CODE
                     WHERE CD.CODE_KIND = 'VERFCD'
                 ) VERF ON DT.M_CODE = VERF.M_CODE
                 WHERE DT.REC_NO = #{recNo}
                   AND DT.EVENT_YN = 'Y'
             ) TOTAL
    </select>

    <select id="selectFinalCheckListImprv" parameterType="map" resultType="camelMap">
        /* [CCP 금속검출 - 인증원으로 보낼 체크 리스트 가져오기(제품)] c0030.selectFinalCheckListImprv */
        SELECT #{lcnsNo} AS LCNS_NO
             , #{companyNm} AS COMPANY_NM
             , DATE_FORMAT(IM.CREATE_DT, '%Y-%m-%d') AS CREATE_DATE
             , DATE_FORMAT(IM.CREATE_DT, '%h:%i:%s') AS CREATE_TIME
             , IM.L_CODE AS REC_CODE
             , (SELECT MI.L_CODE_NM FROM SHC_REC_MAIN MI WHERE IM.L_CODE = MI.L_CODE) AS REC_NM
             , IM.M_CODE AS EQUIP_CODE
             , (SELECT EQ.M_CODE_NM FROM SHC_CCP_EQUIP EQ WHERE EQ.M_CODE = IM.M_CODE) AS EQUIP_NM
             , CONCAT('LM',IM.LMT_ITEM_CODE) AS LMT_ITEM_CODE
             , (SELECT CD.CODE_DESC FROM SHC_COMM_CODE CD WHERE CD.CODE_KIND = 'LMTITM' AND CD.CODE = IM.LMT_ITEM_CODE) AS LMT_ITEM_NM
             , IM.SEQ
             , (SELECT DATA_CNT FROM SHC_REC_CCP_LIST WHERE REC_NO = #{recNo}) AS TOTAL_CNT
             , (SELECT COALESCE (SUM(CASE WHEN BREAK_YN = 'Y' THEN 1 ELSE 0 END),0) BREAK_COUNT FROM SHC_REC_CCP_DATA WHERE REC_NO = #{recNo} AND EVENT_YN = 'N') AS BREAK_COUNT
             , IM.IMPRV IMPRV_COMM
             , CONCAT('VF',(SELECT distinct A.VERF_TYPE_CODE FROM SHC_CCP_LMT_STD A INNER JOIN SHC_REC_CCP B ON A.LMT_STD_CODE = B.LMT_STD_CODE WHERE B.M_CODE = IM.M_CODE)) AS VERF_TYPE_CODE
             , (SELECT date_format(CL.CREATE_DT, '%Y%m%d%H%i%s') FROM SHC_REC_CCP_LIST CL WHERE CL.REC_NO = IM.REC_NO) AS REC_CREATE_DT
        FROM SHC_REC_CCP_IMPRV IM
        WHERE IM.REC_NO = #{recNo}
          AND IM.SEQ = '0'
    </select>

    <select id="getMdProdTotCnt" parameterType="map" resultType="camelMap">
        /* [CCP 금속검출 - 제품 데이터 총 건수 조회] c0030.getMdProdTotCnt */
        SELECT COUNT(*) AS PROD_TOT_CNT
        FROM SHC_REC_CCP_DATA
        WHERE REC_NO = #{newRecNo}
          AND EVENT_YN = 'N'
    </select>

    <update id="updateRecDataCnt" parameterType="map">
        /* [CCP 금속검출 - 제품에 대한 총 건수를 CCP_LIST DATA_CNT 컬럼에 저장] c0030.getMdProdTotCnt */
        UPDATE SHC_REC_CCP_LIST
        SET DATA_CNT = #{prodTotCnt}
        WHERE REC_NO = #{newRecNo}
    </update>
</mapper>