<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.haccp.project.haccp_mgmt.common">

    <select id="selectArarmId" parameterType="map" resultType="camelMap">
        /* [CCP 공통 - 일지상세 데이터에 대한 알람 ID 조회] haccpMgmtCommon.selectArarmId */
        SELECT ARARM_ID
        FROM SHC_REC_CCP_IMPRV
        WHERE 1=1
        <choose>
            <when test="recNo != ''">
                AND REC_NO = #{recNo}
            </when>
            <otherwise>
                AND REG_DATE = #{regDate}
            </otherwise>
        </choose>
        AND M_CODE = #{mCode}
        AND LMT_ITEM_CODE = #{lmtItemCode}
        AND SEQ = #{seq}
    </select>

    <update id="updateImprv" parameterType="map">
        /* [CCP 공통 - 개선조치시 개선조치 여부 Y 로 변경] haccpMgmtCommon.updateImprv */
        UPDATE SHC_REC_CCP_IMPRV
        SET IMPRV_YN = 'Y'
        ,IMPRV = #{imprvDesc}
        ,ARARM_ID = -1
        WHERE 1=1
        <choose>
            <when test="recNo != ''">
                AND REC_NO = #{recNo}
            </when>
            <otherwise>
                AND REG_DATE = #{regDate}
            </otherwise>
        </choose>
        AND M_CODE = #{mCode}
        AND LMT_ITEM_CODE = #{lmtItemCode}
        AND SEQ = #{seq}
    </update>

    <delete id="deleteArarmId" parameterType="map">
        /* [CCP 공통 - 개선조치가 완료 되었을경우 알림ID 삭제] haccpMgmtCommon.deleteArarmId */
        DELETE FROM SHC_REC_CCP_ALARM WHERE ARARM_ID = #{ararmId}
    </delete>

    <select id="getImprvDesc" parameterType="map" resultType="camelMap">
        /* [CCP 공통 - 개선조치시 내용 조회] haccpMgmtCommon.getImprvDesc */
        SELECT IMPRV
        FROM SHC_REC_CCP_IMPRV
        WHERE 1=1
        <choose>
            <when test="recNo != ''">
                AND REC_NO = #{recNo}
            </when>
            <otherwise>
                AND REG_DATE = #{regDate}
            </otherwise>
        </choose>
        AND LMT_ITEM_CODE = #{lmtItemCode}
        AND M_CODE = #{mCode}
        AND SEQ = #{seq}
    </select>

    <update id="insertRecNoCcpDesc" parameterType="map">
        /* [CCP 공통 - 새로운 일지 생성시 일지번호 업데이트] haccpMgmtCommon.insertRecNoCcpDesc */
		<![CDATA[
        UPDATE SHC_REC_CCP_DESC
        SET REC_NO = #{newRecNo}
          , MODIFY_ID = #{userId}
          , MODIFY_DT = NOW()
        WHERE L_CODE = #{recLargeCode}
          AND DATE_FORMAT(STR_TO_DATE(CREATE_DT, '%Y-%m-%d %H:%i:%s'),'%Y%m%d%H%i%s') <= #{currentTime}
          AND REC_NO IS NULL
        ]]>
    </update>

    <update id="insertRecNoCcpData" parameterType="map">
        /* [CCP 공통 - 새로운 일지 생성시 일지번호 업데이트] haccpMgmtCommon.insertRecNoCcpData */
		<![CDATA[
        UPDATE SHC_REC_CCP_DATA
        SET REC_NO = #{newRecNo}
          , MODIFY_ID = #{userId}
          , MODIFY_DT = NOW()
        WHERE L_CODE = #{recLargeCode}
          AND DATE_FORMAT(STR_TO_DATE(CREATE_DT, '%Y-%m-%d %H:%i:%s'), '%Y%m%d%H%i%s') <= #{currentTime}
          AND REC_NO IS NULL
        ]]>
    </update>

    <update id="insertRecNoCcpImprv" parameterType="map">
        /* [CCP 공통 - 새로운 일지 생성시 일지번호 업데이트] haccpMgmtCommon.insertRecNoCcpImprv */
		<![CDATA[
        UPDATE SHC_REC_CCP_IMPRV
        SET REC_NO = #{newRecNo}
          , MODIFY_ID = #{userId}
          , MODIFY_DT = NOW()
        WHERE L_CODE = #{recLargeCode}
          AND DATE_FORMAT(STR_TO_DATE(CREATE_DT, '%Y-%m-%d %H:%i:%s'), '%Y%m%d%H%i%s') <= #{currentTime}
          AND REC_NO IS NULL
        ]]>
    </update>

    <select id="getToDayRecNoChk" parameterType="map" resultType="camelMap">
        /* [CCP 공통 - 오늘 날짜의 일지 등록 확인] haccpMgmtCommon.getToDayRecNoChk */
        SELECT COUNT(*) CNT
        FROM SHC_REC_CCP_LIST
        WHERE REG_DATE = #{toDate}
          AND L_CODE = #{lCode}
    </select>

    <update id="deleteRecNoCcpDesc" parameterType="map">
        /* [일지 삭제시 일지 번호 삭제] haccpMgmtCommon.deleteRecNoCcpDesc */
		<![CDATA[
        UPDATE SHC_REC_CCP_DESC
        SET REC_NO = null
        WHERE REC_NO = #{recNo}
        ]]>
    </update>

    <update id="deleteRecNoCcpData" parameterType="map">
        /* [일지 삭제시 일지 번호 삭제] haccpMgmtCommon.deleteRecNoCcpData */
		<![CDATA[
        UPDATE SHC_REC_CCP_DATA
        SET REC_NO = null
        WHERE REC_NO = #{recNo}
        ]]>
    </update>

    <update id="deleteRecNoCcpImprv" parameterType="map">
        /* [일지 삭제시 일지 번호 삭제] haccpMgmtCommon.deleteRecNoCcpImprv */
		<![CDATA[
        UPDATE SHC_REC_CCP_IMPRV
        SET REC_NO = null
        WHERE REC_NO = #{recNo}
        ]]>
    </update>

    <select id="getApprReqTotalCnt" parameterType="map" resultType="camelMap">
        /* [일지 생성시 새로운 일지에 등록할 건수 조회] haccpMgmtCommon.getApprReqTotalCnt */
        SELECT COUNT(*) TOT_CNT
        FROM SHC_REC_CCP_DESC
        WHERE L_CODE = #{recLargeCode}
          AND REC_NO IS NULL
    </select>

    <delete id="deleteMdTestProdSeq" parameterType="map">
        /* [금속 검출 일지 삭제 시 제품 개선조치 행 삭제] haccpMgmtCommon.deleteMdTestProdSeq */
        DELETE FROM SHC_REC_CCP_IMPRV
        WHERE REC_NO = #{recNo}
          AND SEQ = 0
    </delete>

    <select id="getRecCcpUseYn" parameterType="map" resultType="camelMap">
        /* [해당 설비 및 설비에 한계기준이 등록되어 있는지 확인] haccpMgmtCommon.getRecCcpUseYn */
        SELECT STD.VERF_TYPE_CODE AS VERF_TYPE_CODE
        FROM SHC_CCP_EQUIP EQUIP INNER JOIN SHC_REC_CCP CCP ON EQUIP.M_CODE = CCP.M_CODE
                                 INNER JOIN SHC_CCP_LMT_STD STD ON CCP.LMT_STD_CODE = STD.LMT_STD_CODE
                                 INNER JOIN SHC_CCP_LMT_ITEM ITEM ON STD.LMT_STD_CODE = ITEM.LMT_STD_CODE
        WHERE EQUIP.M_CODE = #{mCode}
          AND EQUIP.USE_YN = 'Y'
          AND CCP.USE_YN = 'Y'
          AND STD.USE_YN = 'Y'
        GROUP BY STD.VERF_TYPE_CODE
    </select>
</mapper>