<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.haccp.project.pre_rec_mgmt.P0150">

    <select id="gridPaging" parameterType="map" resultType="camelMap">
        SELECT
        A.REC_NO
        , DATE_FORMAT(A.CREATE_DT, '%Y-%m-%d') as CREATE_DT
        , (SELECT B.CODE_NM FROM SHC_COMM_CODE B WHERE SUBSTR(B.CODE_KIND,1,3)='APP' AND B.CODE = A.REVW_STATUS) AS REVW_STATUS
        , (SELECT B.CODE_NM FROM SHC_COMM_CODE B WHERE SUBSTR(B.CODE_KIND,1,3)='APP' AND B.CODE = A.APPR_STATUS) AS APPR_STATUS
        , A.REG_DATE
        , A.L_CODE
        , A.ITEM_CODE_KIND
        , A.ITEM_CODE
        , (SELECT C.CODE_NM FROM SHC_COMM_CODE C WHERE C.CODE_KIND = A.ITEM_CODE_KIND AND C.CODE = A.ITEM_CODE)AS ITEM_CODE_NM
        , A.FILE_KEY
        , A.RMK
        , A.CREATE_ID
        , A.CREATE_DT
        , A.L_CODE_NM
        FROM (SELECT
        SRPL.REC_NO
        ,SRPL.REG_DATE
        ,SRPL.L_CODE
        ,SRPL.RMK
        ,DATE_FORMAT(SRPL.CREATE_DT, '%Y-%m-%d') as CREATE_DT
        ,DATE_FORMAT(SRPL.MODIFY_DT, '%Y-%m-%d') as MODIFY_DT
        ,SRPL.CREATE_ID
        ,SRPL.MODIFY_ID
        ,SRPC.SEQ
        ,SRPC.ITEM_CODE_KIND
        ,SRPC.ITEM_CODE
        ,SRPC.FILE_KEY
        ,(SELECT E.REVW_STATUS FROM SHC_APPR_LIST E WHERE E.REC_NO = SRPL.REC_NO) AS REVW_STATUS
        ,(SELECT G.APPR_STATUS FROM SHC_APPR_LIST G WHERE G.REC_NO = SRPL.REC_NO) AS APPR_STATUS
        ,(SELECT L_CODE_NM FROM SHC_REC_MAIN SRM WHERE SRM.L_CODE = SRPL.L_CODE) AS L_CODE_NM
        FROM SHC_REC_PRE_LIST SRPL
        INNER JOIN SHC_REC_PRE_COMM SRPC
        ON SRPL.REC_NO=SRPC.REC_NO
        WHERE SRPL.L_CODE =  #{recLargeCode}
        AND SRPL.CREATE_DT BETWEEN STR_TO_DATE(#{start},'%Y-%m-%d') AND STR_TO_DATE(CONCAT(#{end},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
        <if test="itemCodeNm != null and itemCodeNm != '' and itemCodeNm != 'undefined'">
            AND (SELECT C.CODE_NM FROM SHC_COMM_CODE C WHERE C.CODE_KIND = SRPC.ITEM_CODE_KIND AND C.CODE = SRPC.ITEM_CODE) LIKE CONCAT('%',#{itemCodeNm},'%')
        </if>) A
        ORDER BY A.REG_DATE DESC
        LIMIT #{perPage} OFFSET #{offset}
    </select>

    <select id="gridPagingCnt" parameterType="map" resultType="camelMap">
        SELECT COUNT(*) AS CNT
        FROM SHC_REC_PRE_LIST A, SHC_REC_PRE_COMM B
        WHERE A.REC_NO=B.REC_NO
        AND A.L_CODE = #{recLargeCode}
        AND A.CREATE_DT BETWEEN STR_TO_DATE(#{start},'%Y-%m-%d') AND STR_TO_DATE(CONCAT(#{end},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
        <if test="itemCodeNm != null and itemCodeNm != '' and itemCodeNm != 'undefined'">
            AND (SELECT C.CODE_NM FROM SHC_COMM_CODE C WHERE C.CODE_KIND = B.ITEM_CODE_KIND AND C.CODE = B.ITEM_CODE) LIKE CONCAT('%',#{itemCodeNm},'%')
        </if>
    </select>

    <select id="selectCreateDt" parameterType="map" resultType="camelMap">
        SELECT max(STR_TO_DATE(A.CREATE_DT, '%Y-%m-%d')) as REC_DT
        FROM SHC_REC_PRE_LIST A, SHC_REC_PRE_COMM B
        WHERE A.REC_NO = B.REC_NO
          AND A.L_CODE =  #{recLargeCode}
          AND B.ITEM_CODE = #{itemCode}
    </select>


    <select id="selectInfo" parameterType="map" resultType="camelMap">
        SELECT A.REC_NO, A.REG_DATE , A.L_CODE, B.SEQ as REC_SEQ, B.ITEM_CODE_KIND, B.ITEM_CODE,
               (SELECT C.CODE_NM FROM SHC_COMM_CODE C WHERE C.CODE_KIND = B.ITEM_CODE_KIND AND C.CODE = B.ITEM_CODE)AS ITEM_CODE_NM,
               B.FILE_KEY, B.RMK, A.CREATE_ID, A.CREATE_DT, A.MODIFY_ID, A.MODIFY_DT
        FROM SHC_REC_PRE_LIST A, SHC_REC_PRE_COMM B
        WHERE A.REC_NO=B.REC_NO
          AND A.REC_NO = #{recNo}
    </select>

    <select id="selectItemList" parameterType="map" resultType="camelMap">
        SELECT A.L_CODE, A.SEQ, A.ORD_SEQ, A.M_CODE_KIND, A.M_CODE,
               (SELECT B.CODE_NM FROM SHC_COMM_CODE B WHERE B.CODE_KIND = A.M_CODE_KIND AND B.CODE = A.M_CODE) AS M_CODE_NM
        FROM SHC_REC_PRE A
        WHERE 1=1
          AND L_CODE = #{recLargeCode}
          AND USE_YN = 'Y'
        ORDER BY ORD_SEQ ASC
    </select>

    <update id="updateRecPre" parameterType="map">
        /* [일지 공통 - 일지 수정] recComn.updateRecPre */
        UPDATE SHC_REC_PRE_LIST SET RMK = #{rmk},
                                    MODIFY_ID = #{userId}, MODIFY_DT = STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
        WHERE REC_NO = #{recNo}
    </update>

    <update id="updateRecPreComm" parameterType="map">
        /* [일지 공통 - 일지 상세 수정] recComn.updateRecPreComm */
        UPDATE SHC_REC_PRE_COMM SET RMK = #{rmk}, ITEM_CODE_KIND = #{itemCodeKind},
                                    ITEM_CODE = #{itemCode},
                                    MODIFY_ID = #{userId}, MODIFY_DT = STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
        WHERE REC_NO = #{recNo}
    </update>

    <select id="selectFinalCheckList" parameterType="map" resultType="camelMap">
        /* [원재료입고관리 - 인증원으로 보낼 체크 리스트 가져오기] pre_rec_mgmt.p0050.selectFinalCheckList */
        SELECT  #{lcnsNo} AS LCNS_NO,
                #{companyNm} AS COMPANY_NM,
                DATE_FORMAT(A.CREATE_DT, '%Y-%m-%d') AS CREATE_DATE,
                DATE_FORMAT(A.CREATE_DT, '%H:%i:%s') AS CREATE_TIME,
                'Y' AS APPR_YN,
                #{lCode} AS REC_CODE,
                #{lCodeNm} AS REC_NM,
                B.SEQ AS SEQ,
                (SELECT C.CODE_NM FROM SHC_COMM_CODE C WHERE C.CODE_KIND = B.ITEM_CODE_KIND AND C.CODE = B.ITEM_CODE) AS MAT_NM,
                CONCAT(#{lcnsNo},DATE_FORMAT(A.CREATE_DT, '%Y%m%d'),'_',#{lCodeNm},'_',(SELECT C.CODE_NM FROM SHC_COMM_CODE C WHERE C.CODE_KIND = B.ITEM_CODE_KIND AND C.CODE = B.ITEM_CODE),(SELECT substr(ORG_FILE_NM,instr(org_file_nm,'.')) FROM SHC_COMM_FILES WHERE FILE_KEY = B.FILE_KEY)) AS FILE_NM,
                A.REC_NO
        FROM SHC_REC_PRE_LIST A
                 INNER JOIN SHC_REC_PRE_COMM B
                            ON A.REC_NO=B.REC_NO
        WHERE A.REC_NO = #{recNo}
    </select>

    <select id="selectFinalImprv" parameterType="map" resultType="camelMap">
        /* [원재료입고관리 - 인증원으로 보낼 개선 조치 가져오기] pre_rec_mgmt.p0050.selectFinalImprv */
        SELECT #{lcnsNo} AS LCNS_NO,
               #{companyNm} AS COMPANY_NM,
               DATE_FORMAT(A.CREATE_DT, '%Y-%m-%d') AS CREATE_DATE,
               DATE_FORMAT(A.CREATE_DT, '%H:%i:%s') AS CREATE_TIME,
               'Y' AS APPR_YN,
               #{lCode} AS CODE,
               #{lCodeNm} AS REC_NM,
               SEQ AS SEQ,
               IMPRV_COMM,
               STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s') AS TRNS_DT
        FROM SHC_REC_PRE_IMPRV
        WHERE 1=1
          AND REC_NO = #{recNo}

    </select>

    <select id="selectCountRecSeq" parameterType="map" resultType="camelMap">
        /* [원부재료입출고관리기록 - 인증원에서 받을 일자별 순번] pre_rec_mgmt.p0140.selectCountRecSeq */
        SELECT COUNT(*) AS CNT
        FROM SHC_REC_PRE_COMM A
                 INNER JOIN
             SHC_APPR_LIST B
             ON A.REC_NO = B.REC_NO
        WHERE 1=1
          AND B.NOW_APPR_STATUS = '200'
          AND A.ITEM_CODE_KIND = (SELECT B.REF_COMM_CODE FROM SHC_REC_MAIN B WHERE B.L_CODE = #{recLargeCode})
          AND DATE_FORMAT(A.CREATE_DT, '%Y-%m-%d') = #{todayString}
    </select>
</mapper>