<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.dash.mapper.Dash03Mapper">
   <select id="getTmpr03GraphData" parameterType="map"  resultType="camelMap">
       /* 하담푸드 설비기준 그래프 처리용 온도모니터링 리스트 (dash03Mapper.getTmpr03List) */
        select a.rcv_tm
             , a.spot_nm as spot1_nm
             , a.rcv_val as rcv1_val
             , b.spot_nm as spot2_nm
             , b.rcv_val as rcv2_val
             , c.spot_nm as spot3_nm
             , c.rcv_val as rcv3_val
        from (
                 select to_char(to_timestamp(a.unix_hms), 'HH24:MI') as rcv_tm
                      , a.spot_no
                      , fn_get_spot_name(spot_no)                    as spot_nm --작업장명
                      , max(a.rcv_tmpr)                              as rcv_val
                 from tmpr_log a
                 where a.spot_no = 30786 --1층냉장실
                 and TO_CHAR(to_timestamp(a.unix_hms), 'mi')::float / 30 in (0 ,1 )
                 and a.cust_no = #{custNo}
                 and to_char(to_timestamp(a.unix_hms),'YYYY-MM-DD') = to_char(now(),'YYYY-MM-DD')
                 group by spot_no, to_char(to_timestamp(a.unix_hms), 'HH24:MI')
                 order by rcv_tm desc
             ) a
                 join (
            select to_char(to_timestamp(a.unix_hms), 'HH24:MI') as rcv_tm
                 , a.spot_no
                 , fn_get_spot_name(spot_no)                    as spot_nm --작업장명
                 , max(a.rcv_tmpr)                              as rcv_val
            from tmpr_log a
            where a.spot_no = 30791 --1층 냉동실2
            and TO_CHAR(to_timestamp(a.unix_hms), 'mi')::float / 30 in (0 ,1 )
            and a.cust_no = #{custNo}
            and to_char(to_timestamp(a.unix_hms),'YYYY-MM-DD') = to_char(now(),'YYYY-MM-DD')
            group by spot_no, to_char(to_timestamp(a.unix_hms), 'HH24:MI')
        ) b on a.rcv_tm = b.rcv_tm
                 join (
            select to_char(to_timestamp(a.unix_hms), 'HH24:MI') as rcv_tm
                 , a.spot_no
                 , fn_get_spot_name(spot_no)                    as spot_nm --작업장명
                 , max(a.rcv_tmpr)                              as rcv_val
            from tmpr_log a
            where a.spot_no = 30788 --1층 냉동실1
            and TO_CHAR(to_timestamp(a.unix_hms), 'mi')::float / 30 in (0 ,1 )
            and a.cust_no = #{custNo}
            and to_char(to_timestamp(a.unix_hms),'YYYY-MM-DD') = to_char(now(),'YYYY-MM-DD')
            group by spot_no, to_char(to_timestamp(a.unix_hms), 'HH24:MI')
        ) c on a.rcv_tm = c.rcv_tm
        order by rcv_tm

   </select>

    <select id="getEvtMsgList" parameterType="map"  resultType="camelMap">
        select to_char(send_dt,'YY-MM-DD HH24:MI') as msg_date --발송일자
             , msg_tp --발송유형
             ,msg_cont --발내용
        from evt_msg
        order by send_dt desc
            limit 3
    </select>

    <select id="getMakeRsltDash" parameterType="map"  resultType="camelMap">
        select
            sum(make_qty) as make_qty ,
            to_char(make_dt , 'YYYY-MM-DD') as make_dt
        from make_indc_rslt mir
        where cust_no = #{custNo} and used_yn = 'Y'
        and to_char(make_dt , 'YYYY-MM-DD') between to_char(now() + '-2 week' , 'YYYY-MM-DD')  and to_char(now() , 'YYYY-MM-DD')
        group by to_char(make_dt , 'YYYY-MM-DD')
        order by make_dt
    </select>

    <select id="getUserGroupDash" parameterType="map"  resultType="camelMap">
        /*하담푸드 대시보드 최근 14일 근태현황 (Dash03Mapper.getUserGroupDash) */
        select to_char(work_dt , 'MM-DD') as work_dt ,
               count(user_id) as user_count
        from user_work a
        where to_char(work_dt , 'YYYY-MM-DD') between to_char(now() + '-2 week' , 'YYYY-MM-DD')  and to_char(now() , 'YYYY-MM-DD')
        and cust_no = #{custNo} and used_yn = 'Y'
        group by work_dt
        order by to_char(work_dt , 'YYYY-MM-DD')
    </select>

    <select id="getMakeRsltGroupDash" parameterType="map"  resultType="camelMap">
        select to_char(make_dt,'MM-DD') as make_dt
             , round(sum(a.make_qty)) / 1000
        from make_indc_rslt a join make_indc b on a.cust_no = b.cust_no and b.used_yn ='Y' and b.proc_cd  = 999
        where to_char(make_dt,'YYYY-MM') = to_char(now(),'YYYY-MM')
        group by  to_char(make_dt,'MM-DD')
        order by make_dt
    </select>
</mapper>