<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.dash.mapper.Dash17Mapper">
    <select id="getTmpr17List" parameterType="map"  resultType="camelMap">
        /* 동양시스템 설비기준 최신시간 온도모니터링 리스트 (mpMapper.getTmpr17List) */
        select a.spot_no  --작업장번
             , a.spot_nm  --작업장명
             , b.rcv_msg  --메세지
             , b.rcv_tmpr  --측정온도
             , to_char(to_timestamp(b.unix_hms) ,'HH:MM:SS') as rcv_tm --수신시각
        from spot_info a join tmpr_log b on a.spot_no  = b.spot_no
            and b.used_yn  = 'Y' and b.cust_no  = a.cust_no
                         join ( select spot_no, max(unix_hms) as unix_hms
                                from tmpr_log
                                where used_yn = 'Y' and cust_no = #{custNo}
                                group by spot_no
                              ) c on b.spot_no = c.spot_no and b.unix_hms  = c.unix_hms
        where a.used_yn  = 'Y'
          and a.cust_no = #{custNo}
        order by spot_nm collate "ko_KR.utf8"
    </select>


    <select id="getFinalProcCnt" parameterType="map" resultType="camelMap">
        /*동양시스템 카운터 이력 등록. (dash17Mapper.getFinalProcCnt)*/
        select  to_char(to_timestamp(a.unix_hms),'YY년MM월DD일 HH24시MI분SS초')  as pass_tm
              , a.rcv_msg
              , a.proc_cnt --카운터
        from dys_cnt_log a join cust_info b on a.cust_no = b.cust_no and b.used_yn = 'Y'
                           join ( select spot_no, max(unix_hms) as unix_hms
                                  from dys_cnt_log
                                  where used_yn = 'Y' and cust_no = #{custNo}
                                  group by spot_no
                                ) c on a.spot_no = c.spot_no and a.unix_hms  = c.unix_hms
        where a.used_yn = 'Y'
        and   a.cust_no =#{custNo}
        <if test="dateFr != null and dateFr != ''">
            AND to_char(to_timestamp(a.unix_hms),'YY-MM-DD') between #{dateFr} and #{dateTo}
        </if>
    </select>

</mapper>