<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.dash.mapper.Dash14Mapper">
    <select id="getUserGroupDashs" parameterType="map"  resultType="camelMap">
        /*우천식품 대시보드 근태현황 (Dash14Mapper.getUserGroupDash) */
        select to_char(work_dt , 'MM-DD') as work_dt
             , count(b.user_id) as user_count
             , fn_get_code_name('nm',b.empl_kind) as empl_kind_nm
        from user_work a join user_info b on a.user_id  = b.user_id and a.cust_no = b.cust_info and b.used_yn ='Y'
        where to_char(work_dt , 'YYYY-MM-DD') between to_char(now() + '-2 week' , 'YYYY-MM-DD')  and to_char(now() , 'YYYY-MM-DD')
          and a.cust_no = #{custNo}
          and a.used_yn = 'Y'
        group by work_dt,b.empl_kind
        order by to_char(work_dt , 'YYYY-MM-DD'), b.empl_kind
    </select>


</mapper>