<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.dash.mapper.Dash18Mapper">
    <select id="getTmpr18List" parameterType="map"  resultType="camelMap">
        /* 미홍 설비기준 최신시간 온도모니터링 리스트 (mpMapper.getTmpr18List) */
        select a.spot_no  --작업장번
             , a.spot_nm  --작업장명
             , b.rcv_msg  --메세지
             , b.rcv_tmpr  --측정온도
             , to_char(to_timestamp(b.unix_hms) ,'HH:MM:SS') as rcv_tm --수신시각
        from spot_info a join tmpr_log b on a.spot_no  = b.spot_no
            and b.used_yn  = 'Y' and b.cust_no  = a.cust_no
                         join (select spot_no, max(unix_hms) as unix_hms
                               from tmpr_log
                               where used_yn = 'Y' and cust_no = #{custNo}
                               group by spot_no
        ) c on b.spot_no = c.spot_no and b.unix_hms  = c.unix_hms
        where a.used_yn  = 'Y'
          and a.cust_no = #{custNo}
        order by spot_nm collate "ko_KR.utf8"
    </select>

    <select id="getFinalHeatStatus" parameterType="map" resultType="camelMap">
        /*미홍 초기화면 찜기 상태 (dash18Mapper.getFinalHeatStatus) */
        select to_char(to_timestamp(a.unix_hms),'HH24:MI:SS')  as pass_tm
             , a.rcv_msg
             , a.oper_yn --작동상태
        from heat_stat_log a join cust_info b on a.cust_no = b.cust_no and b.used_yn = 'Y'
                         join (select max(heat_stat_log_no)  as heat_stat_log_no
                               from heat_stat_log
                               where cust_no = #{custNo}
                                 and to_char(to_timestamp(unix_hms),'YY-MM-DD') = to_char(now(),'YY-MM-DD')
        ) c on a.heat_stat_log_no = c.heat_stat_log_no
        where a.cust_no = #{custNo}
    </select>

</mapper>