<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.dash.mapper.Dash10Mapper">
    <select id="getTmpr10List" parameterType="map"  resultType="camelMap">
        /* 유진 설비기준 최신시간 온도모니터링 리스트 (mpMapper.getTmpr10List) */
        select a.spot_no  --작업장번
             , a.spot_nm  --작업장명
             , b.rcv_msg  --메세지
             , b.rcv_tmpr  --측정온도
             , to_char(to_timestamp(b.unix_hms) ,'MM월DD일 HH24:MI:SS') as rcv_tm --수신시각
        from spot_info a join tmpr_log b on a.spot_no  = b.spot_no
                                        and b.used_yn  = 'Y' and b.cust_no  = a.cust_no
                         join (select spot_no, max(unix_hms) as unix_hms
                                from tmpr_log
                                where used_yn = 'Y' and cust_no = #{custNo}
                                  --and to_char(to_timestamp(unix_hms),'YY-MM-DD') = to_char(now(),'YY-MM-DD')
                                group by spot_no
        ) c on b.spot_no = c.spot_no and b.unix_hms  = c.unix_hms
        where a.used_yn  = 'Y'
          and a.cust_no = #{custNo}
        order by spot_nm
        limit #{pageSz}
    </select>

    <select id="getFinalMetalDetect" parameterType="map" resultType="camelMap">
        /*유진물산 초기화면 금속검출기 통과수량 (dash10Mapper.getFinalMetalDetect) */
        select to_char(to_timestamp(a.unix_hms),'MM월DD일 HH24:MI:SS')  as pass_tm
             , a.rcv_msg
             , a.pass_qty --통과수량
             , a.err_qty  as fail_qty --금속검출수량
             , fn_get_prod_name(a.prod_no) as prod_nm
             , round(case when a.pass_qty = 0 then 0 else  100 - (a.err_qty / a.pass_qty) * 100  end,2) as achv_rt
        from metal_log a join cust_info b on a.cust_no = b.cust_no and b.used_yn = 'Y'
                         join (select max(metal_hstr_no)  as metal_hstr_no
                               from metal_log
                               where cust_no = #{custNo}
                               --and to_char(to_timestamp(unix_hms),'YY-MM-DD') = to_char(now(),'YY-MM-DD')
                              ) c on a.metal_hstr_no = c.metal_hstr_no
        where a.cust_no = #{custNo}
    </select>

    <select id="getMetalDetect10List" parameterType="map" resultType="camelMap">
        /*금속검출 이력 (reportMapper.getMetalDetect10List)*/
        select to_char(to_timestamp(a.unix_hms),'YY-MM-DD HH24:MI:SS')  as chk_dt
             , a.rcv_msg
             , a.pass_qty --통과수량
             , a.err_qty --불량수량
             , case when a.pass_qty = 0 then 0 else  100 - round((a.err_qty / a.pass_qty) * 100,2)  end as fault_rt
        from metal_log a join cust_info b on a.cust_no = b.cust_no and b.used_yn = 'Y'
        where a.cust_no =#{custNo}
        and to_char(to_timestamp(unix_hms),'YY-MM-DD') = to_char(now(),'YY-MM-DD')
        <if test="dateFr != null and dateFr != ''">
            AND to_char(to_timestamp(a.unix_hms),'YY-MM-DD') between #{dateFr} and #{dateTo}
        </if>
        order by chk_dt desc
        limit #{pageSz} offset #{pageNo}
    </select>


    <select id="getMetalDetect10Hstr" parameterType="map" resultType="camelMap">
        /*금속검출 이력 (reportMapper.getMetalDetectHstr)*/
        select a.cust_no
             , b.cust_nm
             , to_char(to_timestamp(a.unix_hms),'YY-MM-DD HH24:MI:SS')  as chk_dt
             , a.rcv_msg
             , a.pass_qty --통과수량
             , a.err_qty --불량수량
             , case when a.pass_qty = 0 then 0 else  100 - round((a.err_qty / a.pass_qty) * 100,2)  end as fault_rt
        from metal_log a join cust_info b on a.cust_no = b.cust_no and b.used_yn = 'Y'
        where a.cust_no =#{custNo}
        <if test="dateFr != null and dateFr != ''">
            AND to_char(to_timestamp(a.unix_hms),'YY-MM-DD') between #{dateFr} and #{dateTo}
        </if>
        order by chk_dt desc
        limit #{pageSz} offset #{pageNo}
    </select>

    <select id="getMetalDetectHstr10Count" parameterType="map" resultType="int">
        select count(a.unix_hms)
        from (
        select a.unxx_hms
        from metal_log a join cust_info b on a.cust_no = b.cust_no and b.used_yn = 'Y'
        where a.cust_no =#{custNo}
        <if test="dateFr != null and dateFr != ''">
            AND to_char(to_timestamp(a.unix_hms),'YY-MM-DD') between #{dateFr} and #{dateTo}
        </if>
        ) a
    </select>

</mapper>