<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.haccp.project.admin.equips">

    <select id="gridPagingCnt" parameterType="map" resultType="camelMap">
    	/* [설비 관리 - 그리드 페이징 카운트] admin.equips.gridPagingCnt */
        SELECT COUNT(*) AS CNT
		FROM SHC_CCP_EQUIP A
		WHERE 1=1
		AND A.M_CODE_NM LIKE CONCAT('%', #{searchValue}, '%')
    </select>

    <select id="gridPaging" parameterType="map" resultType="camelMap">
    	/* [설비 관리 - 그리드 페이징] admin.equips.gridPaging */
        SELECT A.L_CODE, (SELECT B.L_CODE_NM FROM SHC_REC_MAIN B WHERE B.L_CODE = A.L_CODE) AS L_CODE_NM, A.M_CODE_KIND, A.M_CODE, A.M_CODE_NM,
        		A.SENSOR_IP, A.SENSOR_PORT, A.USE_YN, A.RMK, A.M_CODE_KIND, A.M_CODE
		FROM SHC_CCP_EQUIP A
		WHERE 1=1
		AND A.M_CODE_NM LIKE CONCAT('%', #{searchValue}, '%')
        ORDER BY A.CREATE_DT DESC
        LIMIT #{perPage} OFFSET #{offset}
    </select>

    <select id="getInfo" parameterType="map" resultType="camelMap">
    	/* [설비 관리 - 설비 정보 가져오기] admin.equips.getInfo */
    	SELECT A.L_CODE, (SELECT B.L_CODE_NM FROM SHC_REC_MAIN B WHERE B.L_CODE = A.L_CODE) AS L_CODE_NM, A.M_CODE_KIND, A.M_CODE, A.M_CODE_NM,
        		A.SENSOR_IP, A.SENSOR_PORT, A.USE_YN, A.RMK, A.M_CODE_KIND, A.M_CODE
		FROM SHC_CCP_EQUIP A
		WHERE 1=1
        AND A.M_CODE = #{id}
    </select>

    <select id="getMaxID" parameterType="map" resultType="camelMap">
        /* [설비 관리 - 최대 아이디 값 가져오기] admin.equips.getMaxID */
        SELECT MAX(M_CODE) AS MAX_ID
        FROM SHC_CCP_EQUIP
        WHERE 1=1
        <choose>
            <when test="lCode == 'C0010'">
                AND M_CODE LIKE 'CH%'
            </when>
            <when test="lCode == 'C0020'">
                AND M_CODE LIKE 'CC%'
            </when>
            <when test="lCode == 'C0030'">
                AND M_CODE LIKE 'CD%'
            </when>
        </choose>
    </select>

    <select id="checkDupIpAndPort" parameterType="map" resultType="camelMap">
        /* [설비 관리 - IP 포트 체크하기] admin.equips.checkDupIpAndPort */
        SELECT COUNT(*) AS CNT
        FROM SHC_CCP_EQUIP
        WHERE 1=1
        <if test="id != null and id != undefined and id != ''">
            AND M_CODE != #{id}
        </if>
        AND SENSOR_IP = #{sensorIp}
        AND SENSOR_PORT = #{sensorPort}
    </select>

    <select id="checkDupName" parameterType="map" resultType="camelMap">
        /* [설비 관리 - 중복 이름 체크하기] admin.equips.checkDupIpAndPort */
        SELECT COUNT(*) AS CNT
        FROM SHC_CCP_EQUIP
        WHERE 1=1
        <if test="id != null and id != undefined and id != ''">
            AND M_CODE != #{id}
        </if>
        AND M_CODE_NM = #{mCodeNm}
    </select>

    <insert id="insert" parameterType="map">
    	/* [설비 관리 - 등록 입력하기] admin.equips.insert */
    	INSERT INTO SHC_CCP_EQUIP
    		(M_CODE, M_CODE_KIND, M_CODE_NM, L_CODE, SENSOR_IP, SENSOR_PORT, USE_YN, RMK, CREATE_ID, CREATE_DT)
    	VALUES
    		(#{newId}, 'CCPEQP', #{mCodeNm}, #{lCode}, #{sensorIp}, #{sensorPort}, #{useYn}, #{rmk}, #{userId}, STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s') )
    </insert>

    <update id="update" parameterType="map">
    	/* [설비 관리 - 수정 입력하기] admin.equips.update */
    	UPDATE SHC_CCP_EQUIP SET M_CODE_NM = #{mCodeNm},
    			SENSOR_IP = #{sensorIp}, SENSOR_PORT = #{sensorPort}, USE_YN = #{useYn}, RMK = #{rmk},
    			MODIFY_ID = #{userId}, MODIFY_DT = STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
    	WHERE M_CODE = #{id}
    </update>

    <delete id="delete" parameterType="map">
    	/* [설비 관리 - 삭제 하기] admin.equips.delete */
    	DELETE FROM SHC_CCP_EQUIP WHERE M_CODE = #{id}
    </delete>

    <delete id="deleteRecCCp" parameterType="map">
        /* [CCP일지세부 - 삭제 하기] admin.equips.deleteRecCCp */
        DELETE FROM SHC_REC_CCP
        WHERE M_CODE = #{id}
    </delete>

    <select id="getLCodeInfo" parameterType="map" resultType="camelMap">
    	/* [설비 관리 - 설비 정보 가져오기] admin.equips.getInfo */
    	SELECT A.L_CODE, L_CODE_NM
		FROM SHC_REC_MAIN A
		WHERE 1=1
		AND A.L_CODE LIKE 'C%'
		AND A.CYCLE_YN = 'Y'
		AND A.IMPRV_YN = 'Y'
    </select>
</mapper>
