<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.haccp.project.mgmt.codes">

    <select id="gridPagingCnt" parameterType="map" resultType="camelMap">
        /* [코드 관리 - 그리드 페이징 카운트] mgmt.codes.gridPagingCnt */
        SELECT COUNT(*) AS CNT
        FROM SHC_COMM_CODE A
        WHERE 1=1
        <if test="codeKind != null and codeKind != undefined and codeKind != ''">
            AND CODE_KIND_NM LIKE CONCAT('%', #{codeKind}, '%') -- 코드 종류 명
        </if>
        <if test="codeNm != null and codeNm != undefined and codeNm != ''">
            AND CODE_NM LIKE CONCAT('%', #{codeNm}, '%') -- 코드 명
        </if>
    </select>

    <select id="gridPaging" parameterType="map" resultType="camelMap">
        /* [코드 관리 - 그리드 페이징] mgmt.codes.gridPaging */
        SELECT A.*
        FROM (
        SELECT @ROWNUM := @ROWNUM +1 AS ROWNUM
        , A.CODE_KIND
        , A.CODE_KIND_NM
        , A.CODE
        , A.CODE_NM
        , A.CODE_DESC
        , A.ORD_SEQ
        , A.USE_YN
        , A.RMK
        FROM SHC_COMM_CODE A, (SELECT @ROWNUM:=0) R
        WHERE 1=1
        <if test="codeKind != null and codeKind != undefined and codeKind != ''">
            AND CODE_KIND_NM LIKE CONCAT('%', #{codeKind}, '%') -- 코드 종류 명
        </if>
        <if test="codeNm != null and codeNm != undefined and codeNm != ''">
            AND CODE_NM LIKE CONCAT('%', #{codeNm}, '%') -- 코드 명
        </if>
        ) A
        LIMIT #{perPage} OFFSET #{offset}
    </select>

    <select id="selectCodes" parameterType="map" resultType="camelMap">
        /* [공통 코드 - 코드 조회] codes.selectCodes */
        SELECT A.CODE_KIND, A.CODE_KIND_NM, A.CODE, A.CODE_NM, A.CODE_DESC, A.USE_YN, A.ORD_SEQ, A.RMK
        FROM SHC_COMM_CODE A
        WHERE 1=1
          AND USE_YN = 'Y'
          AND CODE_KIND = #{codeKind}
        ORDER BY A.ORD_SEQ ASC
    </select>

    <select id="selectImprvManagement" parameterType="map" resultType="camelMap">
        /* [공통 코드 - 이탈 내역 코드 조회] codes.selectImprvManagement */
        <choose>
            <when test="type == 'CCP'">
                SELECT L_CODE, L_CODE_NM
                FROM SHC_REC_MAIN A
                WHERE 1=1
                AND USE_YN = 'Y'
                AND L_CODE LIKE 'C%'
                <if test="errYn == 'ERR'">
                    AND EXISTS (SELECT 1
                    FROM SHC_REC_CCP_LIST Y, SHC_REC_CCP_IMPRV Z
                    WHERE Y.REC_NO=Z.REC_NO
                    AND Y.L_CODE=A.L_CODE

                    AND Y.REG_DATE BETWEEN STR_TO_DATE(#{start}, '%Y-%m-%d %H:%i:%s') AND STR_TO_DATE(CONCAT(#{end}, " 23:59:59"), '%Y-%m-%d %H:%i:%s') )
                </if>
            </when>
            <when test="type == 'PRE'">
                SELECT L_CODE, L_CODE_NM
                FROM SHC_REC_MAIN A
                WHERE 1=1
                AND USE_YN = 'Y'
                AND L_CODE LIKE 'P%'
                <if test="errYn == 'ERR'">
                    AND EXISTS (SELECT 1
                    FROM SHC_REC_PRE_LIST Y, SHC_REC_PRE_IMPRV Z
                    WHERE Y.REC_NO=Z.REC_NO
                    AND Y.L_CODE=A.L_CODE
                    AND Y.REG_DATE BETWEEN STR_TO_DATE(#{start}, '%Y-%m-%d %H:%i:%s') AND STR_TO_DATE(CONCAT(#{end}, " 23:59:59"), '%Y-%m-%d %H:%i:%s') )
                </if>
            </when>
        </choose>
    </select>
</mapper>