<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daedan.mes.moniter.mapper.Cust18Mapper">
    <select id="getHeatLogHstr" parameterType="map" resultType="camelMap">
        /*찜기모니터링내역((Cust18Mapper.getHeatLogHstr) */
        select  to_char(to_timestamp(a.unix_hms),'HH24:MI') as rcv_tm --수신일자
             , fn_get_spot_name(spot_no) as spot_nm --작업장명
             , case when oper_yn = 'Y' then 1 else 0 end as oper_yn
        from heat_stat_log a
        where TO_CHAR(to_timestamp(a.unix_hms), 'mi')::float / 10 in (0,1,2,3,4,5)
            and to_char(to_timestamp(a.unix_hms),'YYYY-MM-DD') = substring('2021-11-26T15:00:00.000Z',1,10)
        and a.cust_no = #{custNo}
        order by rcv_tm
    </select>
</mapper>