<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.dash.mapper.mh.Dash10Mapper">
    <select id="getTmpr10List" parameterType="map"  resultType="camelMap">
        /* 유진 설비기준 최신시간 온도모니터링 리스트 (mpMapper.getTmpr10List) */
        select a.equip_no  --설비번
             , a.equip_nm  --설비
             , b.rcv_msg  --메세지
             , b.rcv_tmpr  --측정온도
             , to_char(to_timestamp(b.unix_hms) ,'HH:MM:SS') as rcv_dt --수신시각
        from equip_info a join rcv_tmpr b on a.equip_no  = b.equip_no
            and a.cust_no  = b.cust_no and b.used_yn  = 'Y'
                          join (select equip_no, max(unix_hms) as unix_hms
                                from rcv_tmpr
                                where cust_no = #{custNo} and used_yn = 'Y'
                                group by  equip_no
        ) c on b.equip_no = c.equip_no and b.unix_hms  = c.unix_hms
        where a.cust_no = #{custNo}   and a.used_yn  = 'Y'
    </select>

    <select id="getMetalDetect10List" parameterType="map" resultType="camelMap">
        /*금속검출 이력 (reportMapper.getMetalDetectHstr)*/
        select a.cust_no
        , b.cust_nm
        , to_char(to_timestamp(a.unix_hms),'YY-MM-DD HH24:MI:SS')  as chk_dt
        , a.rcv_msg
        , a.pass_qty --통과수량
        , a.err_qty --불량수량
        , case when a.pass_qty = 0 then 0 else  100 - round((a.err_qty / a.pass_qty) * 100,2)  end as fault_rt
        from metal_log a join cust_info b on a.cust_no = b.cust_no and b.used_yn = 'Y'
        where a.cust_no =#{custNo}
        <if test="dateFr != null and dateFr != ''">
            AND to_char(to_timestamp(a.unix_hms),'YY-MM-DD') between #{dateFr} and #{dateTo}
        </if>
        order by chk_dt desc
        limit #{pageSz} offset #{pageNo}
    </select>


    <select id="getMetalDetect10Hstr" parameterType="map" resultType="camelMap">
        /*금속검출 이력 (reportMapper.getMetalDetectHstr)*/
        select a.cust_no
        , b.cust_nm
        , to_char(to_timestamp(a.unix_hms),'YY-MM-DD HH24:MI:SS')  as chk_dt
        , a.rcv_msg
        , a.pass_qty --통과수량
        , a.err_qty --불량수량
        , case when a.pass_qty = 0 then 0 else  100 - round((a.err_qty / a.pass_qty) * 100,2)  end as fault_rt
        from metal_log a join cust_info b on a.cust_no = b.cust_no and b.used_yn = 'Y'
        where a.cust_no =#{custNo}
        <if test="dateFr != null and dateFr != ''">
            AND to_char(to_timestamp(a.unix_hms),'YY-MM-DD') between #{dateFr} and #{dateTo}
        </if>
        order by chk_dt desc
        limit #{pageSz} offset #{pageNo}
    </select>

    <select id="getMetalDetectHstr10Count" parameterType="map" resultType="int">
        select count(a.unix_hms)
        from (
        select a.unxx_hms
        from metal_log a join cust_info b on a.cust_no = b.cust_no and b.used_yn = 'Y'
        where a.cust_no =#{custNo}
        <if test="dateFr != null and dateFr != ''">
            AND to_char(to_timestamp(a.unix_hms),'YY-MM-DD') between #{dateFr} and #{dateTo}
        </if>
        ) a
    </select>

</mapper>