<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.pms.mapper.PmsMapper">
    <select id="getComboPmsProcStat" parameterType="map" resultType="camelMap">
        select 0 as value
             , '선택' as text
        union
        select code_no
             , code_nm
        from code_info
        where par_code_no = #{parCodeNo}
          and used_yn = 'Y'
    </select>
    <select id="getPmsOrdrList" parameterType="map" resultType="camelMap">
        select a.ord_no --요청번호
             , a.ord_nm --요청명
             , to_char(a.indc_dt,'YYYY-MM-DD') as indc_dt--요청일자
             , to_char(a.clos_dt,'YYYY-MM-DD') as clos_dt --마감일자
             , a.proc_stat --처리상태
             , c.code_nm as proc_stat_nm --처리상태명
             , a.req_id --요청자 id
             , a.saup_no --회사번호
             , b.user_nm as req_nm --요청자명
             , d.saup_nm --회사명
             , e.dept_nm --부서명
             , a.pms_cont --요청내용
        from pms_ord a join user_info b on a.req_id = b.user_id and b.cust_no = #{custNo}
                       join code_info c on a.proc_stat = c.code_no and c.cust_no = #{custNo}
                  left join pms_saup d on a.saup_no = d.saup_no and d.cust_no = #{custNo}
                  left join dept_info e on b.dept_no  = e.dept_no and e.cust_no = #{custNo}
                  left join (select ord_no, count(recv_id) from pms_who where used_yn = 'Y' and cust_no = #{custNo} group by ord_no) f on a.ord_no = f.ord_no
        where a.used_yn = 'Y' and a.cust_no = #{custNo}
        <if test="ordNo != null and ordNo != ''">
            and a.ord_no = #{ordNo}
        </if>
        <if test="procStat != null and procStat != '' and procStat != 0">
            and b.proc_stat = #{procStat}
        </if>

        <if test="dateFr != null and dateFr != ''">
            and to_char(a.indc_dt,'YYYYMMDD') between #{dateFr} and #{dateTo}
        </if>

        <if test="recvId != null and recvId != ''">
            and  a.ord_no in (select distinct ord_no from pms_who where recv_id = #{recvId} )
        </if>

        <if test="recvIds != null and recvIds != '' and recvIds.size != 0 ">
            and  a.ord_no in (select ord_no from pms_who where recv_id in
                               <foreach collection="recvIds" item="recvIds" index="index" open="(" close=")" separator=",">  #{recvIds}   </foreach>
                             )
        </if>

        <if test="deptNo != null and deptNo != '' and deptNo.size != 0">
            and b.dept_no in <foreach collection="deptNo" item="deptNo" index="index" open="(" close=")" separator=",">   #{deptNo}   </foreach>
        </if>

        <if test="findSz != null and findSz != ''">
            <if test="findTp != null and findTp == 'ordNm'">
                AND upper(replace(a.ord_nm,' ',''))  like '%' || upper(replace(#{findSz}, ' ','')) || '%'
            </if>
        </if>
        limit #{pageSz} offset #{pageNo}
    </select>

    <select id="getPmsOrdrListCount" parameterType="map" resultType="int">
        select count(a.ord_no)
        from (
            select a.ord_no --요청번호
                 , a.ord_nm --요청명
                 , a.indc_dt --요청일자
                 , a.clos_dt --마감일자
                 , a.proc_stat --처리상태
                 , c.code_nm --처리상태명
                 , a.req_id --요청자 id
                 , a.saup_no --회사번호
                 , b.user_nm --요청자명
                 , d.saup_nm --회사명
                 , e.dept_nm --부서명
            from pms_ord a join user_info b on a.req_id = b.user_id and b.cust_no = #{custNo}
                           join code_info c on a.proc_stat = c.code_no and c.cust_no = #{custNo}
                      left join pms_saup d on a.saup_no = d.saup_no and d.cust_no = #{custNo}
                      left join dept_info e on b.dept_no  = e.dept_no and e.cust_no = #{custNo}
                      left join (select ord_no, count(recv_id) from pms_who where used_yn = 'Y' and cust_no = #{custNo} group by ord_no) f on a.ord_no = f.ord_no
            where a.used_yn = 'Y' and a.cust_no = #{custNo}
            <if test="ordNo != null and ordNo != ''">
                and a.ord_no = #{ordNo}
            </if>
            <if test="procStat != null and procStat != '' and procStat != 0">
                and b.proc_stat = #{procStat}
            </if>

            <if test="dateFr != null and dateFr != ''">
                and to_char(a.indc_dt,'YYYYMMDD') between #{dateFr} and #{dateTo}
            </if>

            <if test="recvId != null and recvId != ''">
                and  a.ord_no in (select distinct ord_no from pms_who where recv_id = #{recvId} )
            </if>

            <if test="recvIds != null and recvIds != '' and recvIds.size != 0 ">
                and  a.ord_no in (select ord_no from pms_who where recv_id in
                <foreach collection="recvIds" item="recvIds" index="index" open="(" close=")" separator=",">  #{recvIds}   </foreach>
                )
            </if>

            <if test="deptNo != null and deptNo != '' and deptNo.size != 0">
                and b.dept_no in <foreach collection="deptNo" item="deptNo" index="index" open="(" close=")" separator=",">   #{deptNo}   </foreach>
            </if>

            <if test="findSz != null and findSz != ''">
                <if test="findTp != null and findTp == 'ordNm'">
                    AND upper(replace(a.ord_nm,' ',''))  like '%' || upper(replace(#{findSz}, ' ','')) || '%'
                </if>
            </if>
        ) a
    </select>

    <select id="getPmsOrdInfoList" resultType="camelMap" parameterType="map">
        select a.ord_no --요청번호
             , a.ord_nm --요청제목
             , a.indc_dt --요청일자
             , a.clos_dt --마감일자
             , a.pms_cont --요청내용
             , b.user_nm --요청자명
             , a.proc_stat --처리상태
             , a.file_no --파일번호
             , c.save_file_nm --저장파일명
        from pms_ord a join user_info b on a.req_id = b.user_id and b.cust_no = #{custNo}
                       left join file_info c on a.file_no = c.file_no and c.cust_no = #{custNo}
        where a.used_yn = 'Y' and a.cust_no = #{custNo}
          and a.ord_no = #{ordNo}
    </select>

    <select id="getPmsWhoList" resultType="camelMap" parameterType="map">
        select a.pms_who_no
             , to_char(a.cnfm_dt, 'YYYY-MM-DD') as cnfm_dt  -- 완료일자
             , to_char(a.view_dt, 'YYYY-MM-DD') as view_dt  -- 확인일자
             , a.proc_cont -- 처리내용
             , a.proc_stat -- 처리상태
             , a.ord_no  -- 요청번호
             , a.recv_id -- 담당자
             , c.user_nm -- 담당자명
             , z.code_nm as proc_stat_nm --처리상태명
        from pms_who a join pms_ord b on a.ord_no = b.ord_no and b.cust_no = #{custNo}
                       join user_info c on a.recv_id = c.user_id and c.cust_no = #{custNo}
                  left join code_info z on a.proc_stat = z.code_no and z.cust_no = #{custNo}
                  left join pms_saup d on b.saup_no = d.saup_no and d.cust_no = #{custNo}
        where a.used_yn = 'Y' and a.cust_no = #{custNo}
          and a.ord_no = #{ordNo}
    </select>
</mapper>