<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daedan.mes.report.mapper.MesReportMapper">
    <select id="getMetalDetectHstr" parameterType="map" resultType="camelMap">
        /*금속검출 이력 (reportMapper.getMetalDetectHstr)*/
        select a.cust_no
             , to_char(to_timestamp(a.unix_hms),'YY-MM-DD HH24:MI:SS')  as chk_dt --점검일시
             , a.rcv_msg --수신메세지
             , a.pass_qty --통과수량
             , a.err_qty --불량수량
             , case when a.pass_qty = 0 then 0 else  100 - round((a.err_qty / a.pass_qty) * 100,2)  end as fault_rt --블랭률
        from metal_log a join cust_info b on a.cust_no = b.cust_no and b.used_yn = 'Y'
<!--        where a.cust_no =#{custNo}-->
<!--            <if test="dateFr != null and dateFr != ''">-->
<!--               AND to_char(to_timestamp(a.unix_hms),'YY-MM-DD') between #{dateFr} and #{dateTo}-->
<!--            </if>-->
<!--        order by chk_dt desc-->
<!--        limit #{pageSz} offset #{pageNo}-->
    </select>

    <select id="getMetalDetectHstrCount" parameterType="map" resultType="int">
        select count(a.unix_hms)
        from (
              select a.unix_hms
                from metal_log a join cust_info b on a.cust_no = b.cust_no and b.used_yn = 'Y'
                where a.cust_no =#{custNo}
                <if test="dateFr != null and dateFr != ''">
                    AND to_char(to_timestamp(a.unix_hms),'YY-MM-DD') between #{dateFr} and #{dateTo}
                </if>
        ) a
    </select>

    <select id="getProdOwhHstr" parameterType="map" resultType="camelMap">
        /*제품출고이력 (reportMapper.getProdOwhHstr) */
        select to_char(a.owh_dt,'YYYY-MM-DD') as owh_dt --출고일자
             , fn_get_cmpy_name(a.cmpy_no) as cmpy_nm --납품처명
             , fn_get_prod_name(a.prod_no) as prod_nm --품명
             , fn_get_wh_name(a.wh_no) as wh_nm --창고
             , to_char(coalesce (d.iwh_dt,a.owh_dt),'YYYY-MM-DD') as make_dt --생산일자
             , fn_get_code_name('nm',a.palt_cd) as palt_nm --파레트
             , fn_get_user_name(a.insp_er) as insp_er_nm --검수자
             , round (a.owh_qty) as owh_qty -- 출고수량
       from prod_owh a left join prod_iwh d on a.iwh_no = d.iwh_no and d.used_yn ='Y' and d.cust_no = a.cust_no
       where a.cust_no= #{custNo} and a.used_yn = 'Y'
       <if test="dateFr != null and dateFr != ''">
        AND to_char(a.owh_dt,'YYYY-MM-DD') between #{dateFr} and #{dateTo}
       </if>
       <if test="findSz != null and findSz != ''">
        <if test="findTp != null and findTp == 'prodNm'">
           and upper(replace(fn_get_prod_name(a.prod_no),' ',''))  like '%' || upper(replace(#{findSz}, ' ','')) || '%'
        </if>
       </if>
        order by owh_dt  desc
        limit #{pageSz} offset #{pageNo}
    </select>
    <select id="getProdOwhHstrCount" parameterType="map" resultType="int">
        select count(a.owh_no)
        from (
            select a.owh_no
            from prod_owh a join prod_iwh d on a.iwh_no = d.iwh_no and d.used_yn ='Y' and d.cust_no = d.cust_no
            where a.cust_no= #{custNo} and a.used_yn = 'Y'
            <if test="dateFr != null and dateFr != ''">
                AND to_char(a.owh_dt,'YYYY-MM-DD')  between #{dateFr} and #{dateTo}
            </if>
            <if test="findSz != null and findSz != ''"><!--PC용 검색문자열 처리-->
                <if test="findTp != null and findTp == 'prodNm'">
                    and upper(replace(fn_get_prod_name(a.prod_no),' ',''))  like '%' || upper(replace(#{findSz}, ' ','')) || '%'
                </if>
            </if>
            order by owh_dt desc
        ) a
    </select>
    <select id="getProdIwhHstr" parameterType="map" resultType="camelMap">
        /*제품입고이력 (reportMapper.getProdIwhHstr) */
        select to_char(a.iwh_dt,'YYYY-MM-DD') as iwh_dt --입고일자
             , fn_get_prod_name(a.prod_no) as prod_nm --품명
             , fn_get_wh_name(a.wh_no) as wh_nm --창고
             , iwh_qty -- 입고수량
             , fn_get_user_name(a.insp_er) as insp_er_nm --검수자
        from prod_iwh a
        where a.used_yn = 'Y' and a.cust_no = #{custNo}
        <if test="dateFr != null and dateFr != ''">
            AND to_char(a.iwh_dt,'YYYY-MM-DD')  between #{dateFr} and #{dateTo}
        </if>
        <if test="findSz != null and findSz != ''"><!--PC용 검색문자열 처리-->
            <if test="findTp != null and findTp == 'prodNm'">
                and upper(replace(fn_get_prod_name(a.prod_no),' ',''))  like '%' || upper(replace(#{findSz}, ' ','')) || '%'
            </if>
        </if>
        order by iwh_dt desc
        limit #{pageSz} offset #{pageNo}
    </select>
    <select id="getProdIwhHstrCount" parameterType="map" resultType="int">
        select count(a.iwh_dt)
        from (
            select a.iwh_dt
            from prod_iwh a
            where a.used_yn = 'Y' and a.cust_no = #{custNo}
            <if test="dateFr != null and dateFr != ''">AND to_char(a.iwh_dt,'YYYY-MM-DD') between #{dateFr} and #{dateTo}
            </if>and upper(replace(fn_get_prod_name(a.prod_no),' ','')) like '%' || upper(replace(#{findSz}, ' ','')) || '%'
            <if test="findSz != null and findSz != ''"><!--PC용 검색문자열 처리-->
                <if test="findTp != null and findTp == 'prodNm'"></if>
            </if>
            order by iwh_dt desc
        ) a
    </select>

    <select id="getTmprLogHstr" parameterType="map" resultType="camelMap">
        /*온도모니터링내역((reportMapper.getTmprLogHstr) */
        select max(a.rcv_dt) as rcv_dt --수신일자
             , max(a.rcv_tmpr)   as max_val --최대
             , min(a.rcv_tmpr)   as min_val --최소
             , round(avg(a.rcv_tmpr),2) as avg_val --평균
             , substring(rcv_tm,1,2) as rcv_tm --수신시간
             ,fn_get_spot_name(spot_no) as spot_nm --작업장명
        from (
                select to_char(to_timestamp(a.unix_hms),'HH24:MI') as rcv_tm
                     , to_char(to_timestamp(a.unix_hms),'YYYY-MM-DD') as rcv_dt
                     , spot_no
                     , rcv_tmpr
                from tmpr_log a
                where cust_no = #{custNo}
                <if test="spotNo != null and spotNo != ''">
                    a.spot_no = #{soptNo}
                </if>
                <if test="rcvDt != null and rcvDt != ''">
                    and to_char(to_timestamp(a.unix_hms),'YYYY-MM-DD') = #{rcvDt}
                </if>
                order by rcv_tm
                ) a join ( select max(to_char(to_timestamp(unix_hms),'YYYY-MM-DD')) as rcv_dt
                           from tmpr_log
                           where cust_no= #{custNo}
                            <if test="spotNo != null and spotNo != ''">
                                a.spot_no = #{soptNo}
                            </if>
                            <if test="rcvDt != null and rcvDt != ''">
                                and to_char(to_timestamp(a.unix_hms),'YYYY-MM-DD') = #{rcvDt}
                            </if>
                          ) b on a.rcv_dt = b.rcv_dt
        group by   substring(rcv_tm,1,2) , spot_no
        order by   rcv_tm
    </select>
    <select id="getMetalLogHstr" parameterType="map" resultType="camelMap">
        /*금속검출모니터링내역((reportMapper.getMetalLogHstr) */
        select max(a.pass_qty)   as pass_qty --통과수량
             , max(a.err_qty)   as err_val --검출수량
             , max(a.rcv_dt)     as rcv_dt --측정일자
             , substring(rcv_tm,1,2) as rcv_tm -- 측정시분
             ,fn_get_spot_name(spot_no) as spot_nm --작업장명
        from (
                 select to_char(to_timestamp(a.unix_hms),'HH24:MI') as rcv_tm
                      , to_char(to_timestamp(a.unix_hms),'YYYY-MM-DD') as rcv_dt
                      , spot_no
                      , err_qty
                      , pass_qty
                 from metal_log a
                 where cust_no = #{custNo}
                 and pass_qty > 0
                 <if test="spotNo != null and spotNo != ''">
                     and a.spot_no = #{soptNo}
                 </if>
                 <if test="rcvDt != null and rcvDt != ''">
                     and to_char(to_timestamp(a.unix_hms),'YYYY-MM-DD') = #{rcvDt}
                 </if>
                 order by rcv_tm
             ) a join ( select  max(to_char(to_timestamp(unix_hms),'YYYY-MM-DD')) as rcv_dt
                        from tmpr_log
                        where cust_no= #{custNo}
                        <if test="spotNo != null and spotNo != ''">
                            and a.spot_no = #{soptNo}
                        </if>
                        <if test="rcvDt != null and rcvDt != ''">
                            and to_char(to_timestamp(a.unix_hms),'YYYY-MM-DD') = #{rcvDt}
                        </if>
                      ) b on a.rcv_dt = b.rcv_dt
        group by   substring(rcv_tm,1,2) ,spot_no
        order by   rcv_tm
    </select>
</mapper>
