<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.haccp.project.mgmt.my_page">

    <select id="selectUserMngDetail" parameterType="map" resultType="camelMap">
        SELECT  USER_ID,
                PASSWORD,
                USER_NAME,
                AUTH_CODE,
                USE_YN,
                JOIN_DATE,
                RETIRE_DATE,
                PHONE_NUMBER,
                EMAIL,
                RMK
        FROM SHC_USERS
        WHERE 1=1
          AND USE_YN = 'Y'
          AND USER_ID = #{userId}
    </select>

    <select id="checkUserId" parameterType="map" resultType="camelMap">
        SELECT COUNT(*) AS CNT FROM SHC_USERS
        WHERE 1=1
          AND USER_ID = #{userId}
          AND USE_YN='Y'
    </select>

    <update id="updateUserMng" parameterType="map">
        UPDATE SHC_USERS
        SET
        USER_NAME = #{userName},
        <!-- 				PASSWORD = #{encordPw}, -->
        USE_YN = 'Y',
        JOIN_DATE = #{joinDate},
        RETIRE_DATE = #{retireDate},
        PHONE_NUMBER = #{phoneNumber},
        EMAIL = #{email},
        RMK = #{rmk}
        WHERE 1=1
        AND USER_ID = #{userId}
    </update>

    <update id="updateNewPw" parameterType="map">
        UPDATE SHC_USERS
        SET
            PASSWORD = #{encordNewPw}
        WHERE USER_ID = #{userId2}
    </update>

    <delete id="userMngDelete" parameterType="map">
        DELETE FROM SHC_USERS WHERE USER_ID = #{userId}
    </delete>

</mapper>