<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daedan.mes.spot.mapper.SpotMapper">
   <select id="getSpots" parameterType="map" resultType="camelMap">
        /*작업장 목록 (spotMapper.getSpots) */
       select a.spot_no
            , a.ccp_tp --ccp유형 (살균,금속검출,온도측정)
            , fn_get_code_name('nm',a.ccp_tp) as ccp_tp_nm --ccp구분명
            , a.spot_nm  -- 작업장명
            , a.spot_rmk --작업장비고
            , a.svc_tp   --설비연동서비스타입
            , a.scada_api_inv --scada api(시작)
            , a.scada_api_ing --scada api(진행)
            , a.scada_api_end --scada api(종료)
       from spot_info a
       where a.used_yn = 'Y' and a.cust_no = #{custNo}
       <if test="ccpTp != null and  ccpTp != ''">
           AND a.ccp_tp = #{ccpTp}
       </if>
       <if test="spotNo != null and  spotNo != ''">
           AND a.spot_no = #{spotNo}
       </if>
       <if test="findSz != null and findSz != ''">
           <if test="findTp != null and findTp == 'spotNm'">
               AND upper(replace(a.spot_nm,' ',''))  like '%' || upper(replace(#{findSz}, ' ','')) || '%'
           </if>
       </if>
       order by svc_tp,spot_nm collate "ko_KR.utf8"
   </select>

    <select id="getSpotList" parameterType="map" resultType="camelMap">
        /* 작업장목록(spotMapper.getSpotList) */
        select a.spot_no
              ,a.spot_nm  -- 작업장명
              ,a.spot_rmk --작업장비고
              ,a.svc_tp   --설비연동서비스타입
              ,a.scada_api_inv --scada api(시작)
              ,a.scada_api_ing --scada api(진행)
              ,a.scada_api_end --scada api(종료)
              ,fn_get_code_name('nm',a.ccp_tp) as ccp_tp_nm --CCP구분명
              ,fn_get_code_name('nm',a.sens_tp) as sens_tp_nm --측정요소명
        FROM spot_info a
        WHERE a.used_yn  = 'Y' and a.cust_no = #{custNo}
        <if test="ccpTp != null and  ccpTp != ''">
            AND a.ccp_tp = #{ccpTp}
        </if>
        <if test="spotNo != null and  spotNo != ''">
            AND a.spot_no = #{spotNo}
        </if>
        <if test="findSz != null and findSz != ''">
            <if test="findTp != null and findTp == 'spotNm'">
                AND upper(replace(a.spot_nm,' ',''))  like '%' || upper(replace(#{findSz}, ' ','')) || '%'
            </if>
        </if>
        order by svc_tp,spot_nm collate "ko_KR.utf8"
        limit #{pageSz} offset #{pageNo}
    </select>
    <select id="getSpotListCount" parameterType="map"  resultType="int">
        SELECT COUNT(spot_no)
        FROM ( SELECT a.spot_no --센서번호
                FROM spot_info a
                where a.used_yn  = 'Y' and a.cust_no = #{custNo}
                <if test="spotNo != null and  spotNo != ''">
                    AND a.spot_no = #{spotNo}
                </if>
                <if test="findSz != null and findSz != ''">
                    <if test="findTp != null and findTp == 'spotNm'">
                        AND upper(replace(a.spot_nm,' ',''))  like '%' || upper(replace(#{findSz}, ' ','')) || '%'
                    </if>
                </if>
        ) a
    </select>
    <select id="getSpotEquipList" parameterType="map"  resultType="camelMap">
        select a.spot_nm --작업장명
             , a.spot_tmpr --작업장온도코드
        from spot_info a join spot_equip b on a.spot_no = b.spot_no and b.equip_no = #{equipNo} and b.cust_no = #{custNo}
        where a.cust_no = #{custNo}
    </select>

    <select id="getSpotInfo" parameterType="map" resultType="camelMap">
        SELECT   a.spot_no
               , a.spot_nm
               , a.svc_tp
               , a.spot_rmk
               , a.file_no
               , a.scada_api_inv
               , a.scada_api_ing
               , a.scada_api_end
               , b.acc_url
               , b.org_file_nm
               , case when (select count(mngr_hstr_no)
                            from equip_mngr_hstr
                            where to_char(to_timestamp(unix_hms),'YYYY-MM-DD HH24MI') = to_char(now(),'YYYY-MM-DD HH24MI') and spot_equip_no = #{spotEquipNo} and cust_no = #{custNo}) = 0 then 'N' else 'Y' end as oper_yn
        FROM spot_info a left join file_info b on a.file_no = b.file_no and b.cust_no = #{custNo}
        WHERE a.spot_no = #{spotNo} and a.cust_no = #{custNo}
        and a.used_yn  = 'Y'
    </select>



    <select id="getComboSpotEquip" parameterType="map" resultType="camelMap">
        select 0 as value
             , '연동장치선택'      as text
        union
        select a.spot_equip_no as value
             , b.equip_nm      as text
        from spot_equip a join equip_info b on a.equip_no  = b.equip_no and b.cust_no = #{custNo}
        where spot_no = #{spotNo} and a.cust_no = #{custNo}
        order by value
    </select>

</mapper>