<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="defaultStatementTimeout" value="3000" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="long" type="java.lang.Long"/>
        <typeAlias alias="str" type="java.lang.String"/>
        <typeAlias alias="int" type="java.lang.Integer"/>
        <typeAlias alias="float" type="java.lang.Float"/>
        <typeAlias alias="map" type="java.util.Map"/>
        <typeAlias alias="date" type="java.util.Date"/>
        <typeAlias alias="camelMap" type="daedan.mes.common.service.util.CamelListMap"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mapper/adm/AdmMapper.xml"/>
        <mapper resource="mybatis/mapper/bord/BordMapper.xml"/>
        <mapper resource="mybatis/mapper/code/CodeMapper.xml"/>
        <mapper resource="mybatis/mapper/cmmn/CmmnMapper.xml"/>
        <mapper resource="mybatis/mapper/cmpy/CmpyMapper.xml"/>
        <mapper resource="mybatis/mapper/dept/DeptMapper.xml"/>
        <mapper resource="mybatis/mapper/equip/EquipMapper.xml"/>
        <mapper resource="mybatis/mapper/equip/EquipBomMapper.xml"/>
        <mapper resource="mybatis/mapper/equip/EquipMatrMapper.xml"/>
        <mapper resource="mybatis/mapper/file/FileMapper.xml"/>
        <mapper resource="mybatis/mapper/ccp/CcpMapper.xml"/>
        <mapper resource="mybatis/mapper/io/IoMapper.xml"/>
        <mapper resource="mybatis/mapper/dash/DashMapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash06Mapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash08Mapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash10Mapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash17Mapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash18Mapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash19Mapper.xml"/>
        <mapper resource="mybatis/mapper/make/MakeIndcMapper.xml"/>
        <mapper resource="mybatis/mapper/make/HdfdMapper.xml"/>
        <mapper resource="mybatis/mapper/make/SfMapper.xml"/>
        <mapper resource="mybatis/mapper/make/Metal10Mapper.xml"/>
        <mapper resource="mybatis/mapper/moniter/Cust10Mapper.xml"/>

        <mapper resource="mybatis/mapper/matr/MatrMapper.xml"/>

        <mapper resource="mybatis/mapper/moniter/DdkorMapper.xml"/>
        <mapper resource="mybatis/mapper/moniter/MoniterMapper.xml"/>

        <mapper resource="mybatis/mapper/modbusapi/ModbusApiMapper.xml"/>
        <mapper resource="mybatis/mapper/modbus/ModbusMapper.xml"/>

        <mapper resource="mybatis/mapper/ord/OrdMapper.xml"/>
        <mapper resource="mybatis/mapper/ord/Ord18Mapper.xml"/>

        <mapper resource="mybatis/mapper/pms/PmsMapper.xml"/>
        <mapper resource="mybatis/mapper/pms/PmsMapper.xml"/>
        <mapper resource="mybatis/mapper/proc/ProcMapper.xml"/>
        <mapper resource="mybatis/mapper/prod/ProdMapper.xml"/>
        <mapper resource="mybatis/mapper/purs/PursMapper.xml"/>
        <mapper resource="mybatis/mapper/qc/QcMapper.xml"/>
        <mapper resource="mybatis/mapper/role/RoleMapper.xml"/>
        <mapper resource="mybatis/mapper/report/MesReportMapper.xml"/>
        <mapper resource="mybatis/mapper/spot/SpotMapper.xml"/>
        <mapper resource="mybatis/mapper/spot/SpotEquipMapper.xml"/>

        <mapper resource="mybatis/mapper/stock/StockMapper.xml"/>
        <mapper resource="mybatis/mapper/sysmenu/SysmenuMapper.xml"/>
        <mapper resource="mybatis/mapper/user/UserMapper.xml"/>

        <mapper resource="mybatis/mapper/shc/ccp/ShcCcpMapper.xml"/>
        <mapper resource="mybatis/mapper/shc/recCcp/ShcRecCcpMapper.xml"/>

        <mapper resource="mybatis/mapper/sys/SysMapper.xml"/>

        <!--인증원 표준 HACCP -->
        <mapper resource="mybatis/mapper/cmmn/io/datamgr/errdata/errdata_mapper.xml"/>
        <mapper resource="mybatis/mapper/cmmn/io/datamgr/mondata/mondata_mapper.xml"/>
        <mapper resource="mybatis/mapper/cmmn/io/datamgr/rawdata/rawdata_mapper.xml"/>
        <mapper resource="mybatis/mapper/cmmn/io/datamgr/io/socketio_mapper.xml"/>
    </mappers>
</configuration>