<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="defaultStatementTimeout" value="3000" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="long" type="java.lang.Long"/>
        <typeAlias alias="str" type="java.lang.String"/>
        <typeAlias alias="int" type="java.lang.Integer"/>
        <typeAlias alias="float" type="java.lang.Float"/>
        <typeAlias alias="map" type="java.util.Map"/>
        <typeAlias alias="date" type="java.util.Date"/>
        <typeAlias alias="camelMap" type="daedan.mes.common.service.util.CamelListMap"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mapper/adm/AdmMapper.xml"/>
        <mapper resource="mybatis/mapper/bord/BordMapper.xml"/>
        <mapper resource="mybatis/mapper/code/CodeMapper.xml"/>
        <mapper resource="mybatis/mapper/cmmn/CmmnMapper.xml"/>
        <mapper resource="mybatis/mapper/cmpy/CmpyMapper.xml"/>
        <mapper resource="mybatis/mapper/dept/DeptMapper.xml"/>
        <mapper resource="mybatis/mapper/equip/EquipMapper.xml"/>
        <mapper resource="mybatis/mapper/equip/EquipBomMapper.xml"/>
        <mapper resource="mybatis/mapper/equip/EquipMatrMapper.xml"/>
        <mapper resource="mybatis/mapper/file/FileMapper.xml"/>
        <mapper resource="mybatis/mapper/ccp/CcpMapper.xml"/>
        <mapper resource="mybatis/mapper/io/IoMapper.xml"/>
        <mapper resource="mybatis/mapper/dash/DashMapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash06Mapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash08Mapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash10Mapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash17Mapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash18Mapper.xml"/>
        <mapper resource="mybatis/mapper/dash/Dash19Mapper.xml"/>
        <mapper resource="mybatis/mapper/make/MakeIndcMapper.xml"/>
        <mapper resource="mybatis/mapper/make/HdfdMapper.xml"/>
        <mapper resource="mybatis/mapper/make/SfMapper.xml"/>
        <mapper resource="mybatis/mapper/make/Metal10Mapper.xml"/>
        <mapper resource="mybatis/mapper/moniter/Cust10Mapper.xml"/>

        <mapper resource="mybatis/mapper/matr/MatrMapper.xml"/>

        <mapper resource="mybatis/mapper/moniter/DdkorMapper.xml"/>
        <mapper resource="mybatis/mapper/moniter/MoniterMapper.xml"/>

        <mapper resource="mybatis/mapper/modbusapi/ModbusApiMapper.xml"/>
        <mapper resource="mybatis/mapper/modbus/ModbusMapper.xml"/>

        <mapper resource="mybatis/mapper/ord/OrdMapper.xml"/>
        <mapper resource="mybatis/mapper/ord/Ord18Mapper.xml"/>

        <mapper resource="mybatis/mapper/pms/PmsMapper.xml"/>
        <mapper resource="mybatis/mapper/pms/PmsMapper.xml"/>
        <mapper resource="mybatis/mapper/proc/ProcMapper.xml"/>
        <mapper resource="mybatis/mapper/prod/ProdMapper.xml"/>
        <mapper resource="mybatis/mapper/purs/PursMapper.xml"/>
        <mapper resource="mybatis/mapper/qc/QcMapper.xml"/>
        <mapper resource="mybatis/mapper/role/RoleMapper.xml"/>
        <mapper resource="mybatis/mapper/report/MesReportMapper.xml"/>
        <mapper resource="mybatis/mapper/spot/SpotMapper.xml"/>
        <mapper resource="mybatis/mapper/spot/SpotEquipMapper.xml"/>

        <mapper resource="mybatis/mapper/stock/StockMapper.xml"/>
        <mapper resource="mybatis/mapper/sysmenu/SysmenuMapper.xml"/>
        <mapper resource="mybatis/mapper/user/UserMapper.xml"/>

        <mapper resource="mybatis/mapper/shc/ccp/ShcCcpMapper.xml"/>
        <mapper resource="mybatis/mapper/shc/recCcp/ShcRecCcpMapper.xml"/>

        <mapper resource="mybatis/mapper/sys/SysMapper.xml"/>

        <!--인증원 표준 HACCP -->
        <mapper resource="mybatis/mapper/haccp/common/datamgr/errdata/errdata_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/common/datamgr/mondata/mondata_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/common/datamgr/rawdata/rawdata_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/common/datamgr/io/socketio_mapper.xml"/>

        <mapper resource="mybatis/mapper/haccp/project/admin/alert_period/alert_period_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/admin/approve/approve_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/admin/comMng/comMng_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/admin/equips/equips_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/admin/error_list/error_list_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/admin/mdfyHist/modfyHist_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/admin/recordMng/recordMng_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/admin/strdMng/standardMng_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/admin/userMng/userMng_mapper.xml"/>

        <mapper resource="mybatis/mapper/haccp/project/equip_ctrl/heater/heater_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/equip_ctrl/monitoring/monitoring_mapper.xml"/>

        <mapper resource="mybatis/mapper/haccp/project/haccp_mgmt/C0001/C0001_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/haccp_mgmt/C0002/C0002_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/haccp_mgmt/C0010/C0010_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/haccp_mgmt/C0020/C0020_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/haccp_mgmt/C0030/C0030_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/haccp_mgmt/common/common_mapper.xml"/>
        <!--
        <mapper resource="mybatis/mapper/haccp/project/login/login.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/login/main_xml"/>
        <mapper resource="mybatis/mapper/haccp/project/login/rec_common.xml"/>
        -->
        <mapper resource="mybatis/mapper/haccp/project/mgmt/appr/appr_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/mgmt/board/board_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/mgmt/calendar/calendar_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/mgmt/codes/codes_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/mgmt/db_backup/db_backup_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/mgmt/my_page/my_page_mapper.xml"/>

        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0010/p0010_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0020/p0020_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0021/p0021_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0030/p0030_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0040/p0040_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0050/p0050_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0060/p0060_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0070/p0070_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0080/p0080_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0090/p0090_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0100/p0100_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0110/p0110_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0120/p0120_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0130/p0130_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0140/p0140_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0150/p0150_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0151/p0151_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0160/p0160_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0170/p0170_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0180/p0180_mapper.xml"/>
        <mapper resource="mybatis/mapper/haccp/project/pre_rec_mgmt/P0190/p0190_mapper.xml"/>
    </mappers>
</configuration>