<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daedan.mes.haccp.project.pre_rec_mgmt.P0040">
    <select id="gridPagingCnt" parameterType="map" resultType="camelMap">
        /* [이물 및 클레임 관리 - 그리드 페이징 카운트] pre_rec_mgmt.p0040.gridPagingCnt */
        SELECT COUNT(*) AS CNT
        FROM SHC_REC_PRE_LIST SRPL
                 LEFT JOIN SHC_REC_PRE_COMM SRPC
                           ON SRPL.REC_NO = SRPC.REC_NO
        WHERE 1=1
          AND L_CODE = #{recLargeCode}
          AND SRPL.CREATE_DT BETWEEN STR_TO_DATE(#{start},'%Y-%m-%d') AND STR_TO_DATE(CONCAT(#{end},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
    </select>

    <select id="gridPaging" parameterType="map" resultType="camelMap">
        /* [이물 및 클레임 관리 - 그리드 페이징] pre_rec_mgmt.p0040.gridPaging */
        SELECT
            REC_NO,
            REC_SEQ,
            ROW_NUM,
            L_CODE_NM,
            REG_DATE,
            ITEM_CODE,
            ITEM_CODE_NM,
            CREATE_DT,
            CREATE_ID,
            FILE_KEY,
            (SELECT B.CODE_NM FROM SHC_COMM_CODE B WHERE SUBSTR(B.CODE_KIND,1,3)='APP' AND B.CODE = A.REVW_STATUS) AS REVW_STATUS,
            (SELECT B.CODE_NM FROM SHC_COMM_CODE B WHERE SUBSTR(B.CODE_KIND,1,3)='APP' AND B.CODE = A.APPR_STATUS) AS APPR_STATUS
        FROM (
                 SELECT
                     SRPL.REC_NO,
                     SRPC.SEQ AS REC_SEQ,
                     ROW_NUMBER () OVER (ORDER BY SRPL.CREATE_DT DESC) AS ROW_NUM,
                             (SELECT L_CODE_NM FROM SHC_REC_MAIN B WHERE B.L_CODE = SRPL.L_CODE) AS L_CODE_NM,
                     SRPL.REG_DATE,
                     SRPC.ITEM_CODE,
                     (SELECT CODE_NM FROM SHC_COMM_CODE B WHERE B.CODE_KIND = ITEM_CODE_KIND AND B.CODE = ITEM_CODE) AS ITEM_CODE_NM,
                     SRPL.CREATE_DT,
                     SRPL.CREATE_ID,
                     SRPC.FILE_KEY,
                     (SELECT B.REVW_STATUS FROM SHC_APPR_LIST B WHERE B.REC_NO = SRPL.REC_NO) AS REVW_STATUS,
                     (SELECT B.APPR_STATUS FROM SHC_APPR_LIST B WHERE B.REC_NO = SRPL.REC_NO) AS APPR_STATUS
                 FROM SHC_REC_PRE_LIST SRPL
                          LEFT JOIN SHC_REC_PRE_COMM SRPC
                                    ON SRPL.REC_NO = SRPC.REC_NO
                 WHERE 1=1
                   AND SRPL.L_CODE = #{recLargeCode}
                   AND SRPL.CREATE_DT BETWEEN STR_TO_DATE(#{start},'%Y-%m-%d') AND STR_TO_DATE(CONCAT(#{end},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
             ) A
        ORDER BY A.CREATE_DT DESC
            LIMIT #{perPage} OFFSET #{offset}
    </select>

    <insert id="insertPreImprv" parameterType="map">
        /* [이물 및 클레임 관리 - 선행요건일지별개선조치 등록] pre_rec_mgmt.p0040.insertPreImprv */
        INSERT INTO SHC_REC_PRE_IMPRV (
            REC_NO,
            SEQ,
            BREAK_YN,
            BREAK_REASON,
            IMPRV_YN,
            IMPRV_COMM,
            CREATE_ID,
            CREATE_DT
        ) VALUES (
                     #{newRecNo},
                     '1',
                     'Y',
                     #{breakReason},
                     'Y',
                     #{imprvComm},
                     #{userId},
                     STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
                 )
    </insert>

    <select id="selectPreImprvInfo" parameterType="map" resultType="camelMap">
        /* [이물 및 클레임 관리 - 선행요건일지별개선조치 가져오기] pre_rec_mgmt.p0040.selectPreImprvInfo */
        SELECT
            REC_NO,
            SEQ,
            BREAK_YN,
            BREAK_REASON,
            IMPRV_YN,
            IMPRV_COMM,
            CREATE_ID,
            CREATE_DT
        FROM SHC_REC_PRE_IMPRV
        WHERE REC_NO = #{recNo}
    </select>

    <update id="updatePreImprv" parameterType="map">
        /* [이물 및 클레임 관리 - 선행요건일지별개선조치 업데이트] pre_rec_mgmt.p0040.updatePreImprv */
        UPDATE SHC_REC_PRE_IMPRV SET
                                     BREAK_REASON = #{breakReason},
                                     IMPRV_COMM = #{imprvComm},
                                     MODIFY_ID = #{userId},
                                     MODIFY_DT = STR_TO_DATE(NOW(), '%Y-%m-%d %H:%i:%s')
        WHERE REC_NO = #{recNo}
    </update>

    <select id="selectFinalCheckList" parameterType="map" resultType="camelMap">
        /* [이물 및 클레임 관리 - 인증원으로 보낼 체크 리스트 가져오기] pre_rec_mgmt.p0040.selectFinalCheckList */
        SELECT
            #{lcnsNo} AS LCNS_NO
             ,#{companyNm} AS COMPANY_NM
             ,DATE_FORMAT(SRPL.CREATE_DT, '%Y-%m-%d') AS CREATE_DATE
             ,DATE_FORMAT(SRPL.CREATE_DT, '%Y%m%d') AS CREATE_DATE_FOR_FILE
             ,DATE_FORMAT(SRPL.CREATE_DT, '%H:%i:%s') AS CREATE_TIME
             ,L_CODE AS REC_CODE
             ,(SELECT L_CODE_NM FROM SHC_REC_MAIN B WHERE B.L_CODE = SRPL.L_CODE) AS REC_NM
             ,(SELECT CODE_NM FROM SHC_COMM_CODE B WHERE B.CODE_KIND = ITEM_CODE_KIND AND B.CODE = ITEM_CODE) AS CLAIM_TARGET
             ,(SELECT ORG_FILE_NM FROM SHC_COMM_FILES WHERE FILE_KEY = SRPC.FILE_KEY) AS ORG_FILE_NM
             ,(SELECT IMPRV_COMM FROM SHC_REC_PRE_IMPRV B WHERE B.REC_NO = SRPL.REC_NO) AS IMPRV_COMM
             ,(SELECT BREAK_YN FROM SHC_REC_PRE_IMPRV B WHERE B.REC_NO = SRPL.REC_NO) AS BREAK_YN
             ,(SELECT BREAK_REASON FROM SHC_REC_PRE_IMPRV B WHERE B.REC_NO = SRPL.REC_NO) AS BREAK_REASON
        FROM SHC_REC_PRE_LIST SRPL
                 LEFT JOIN SHC_REC_PRE_COMM SRPC
                           ON SRPL.REC_NO = SRPC.REC_NO
        WHERE SRPL.REC_NO = #{recNo}
    </select>

    <select id="selectCountRecSeq" parameterType="map" resultType="camelMap">
        /* [이물 및 클레임 관리 - 인증원에서 받을 일자별 순번] pre_rec_mgmt.p0040.selectCountRecSeq */
        SELECT COUNT(*) AS CNT
        FROM SHC_REC_PRE_COMM A
                 INNER JOIN
             SHC_APPR_LIST B
             ON A.REC_NO = B.REC_NO
        WHERE 1=1
          AND B.NOW_APPR_STATUS = '200'
          AND A.ITEM_CODE_KIND = (SELECT B.REF_COMM_CODE FROM SHC_REC_MAIN B WHERE B.L_CODE = #{recLargeCode})
          AND DATE_FORMAT(A.CREATE_DT, '%Y-%m-%d') = #{todayString}
    </select>
</mapper>